<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/3_2_25ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("Train.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 12428 non-null  object
 9   saledate                  14180 non-null  object
 10  fiModelDesc               14180 non-null  object
 11  fiBaseModel               14180 non-null  object
 12  fiSecondaryDesc           9177 non-null   object
 13  fiModelSeries             2051 non-null   object
 14  fiModelDescriptor         3498 non-null   object
 15  ProductSize               6719 non-null   object
 16  fiProductClassDesc        14180 non-null  object
 17  state                     14180 non-null  object
 18  ProductGroup              14180 non-null  object
 19  ProductGroupDesc          14180 non-null  object
 20  Drive_System              3113 non-null   object
 21  Enclosure                 14173 non-null  object
 22  Forks                     7071 non-null   object
 23  Pad_Type                  2301 non-null   object
 24  Ride_Control              4591 non-null   object
 25  Stick                     2301 non-null   object
 26  Transmission              5474 non-null   object
 27  Turbocharged              2301 non-null   object
 28  Blade_Extension           809 non-null    object
 29  Blade_Width               809 non-null    object
 30  Enclosure_Type            809 non-null    object
 31  Engine_Horsepower         809 non-null    object
 32  Hydraulics                11842 non-null  object
 33  Pushblock                 809 non-null    object
 34  Ripper                    3167 non-null   object
 35  Scarifier                 809 non-null    object
 36  Tip_Control               809 non-null    object
 37  Tire_Size                 3097 non-null   object
 38  Coupler                   8610 non-null   object
 39  Coupler_System            2485 non-null   object
 40  Grouser_Tracks            2474 non-null   object
 41  Hydraulics_Flow           2474 non-null   object
 42  Track_Type                3794 non-null   object
 43  Undercarriage_Pad_Width   3812 non-null   object
 44  Stick_Length              3794 non-null   object
 45  Thumb                     3797 non-null   object
 46  Pattern_Changer           3794 non-null   object
 47  Grouser_Type              3794 non-null   object
 48  Backhoe_Mounting          2355 non-null   object
 49  Blade_Type                2386 non-null   object
 50  Travel_Controls           2386 non-null   object
 51  Differential_Type         2288 non-null   object
 52  Steering_Controls         2287 non-null   object
dtypes: int64(8), object(45)
memory usage: 5.7+ MB

In [ ]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3,2004,68,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3,1996,4640,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3,2001,2838,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3,2001,3486,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3,2007,722,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convert 'date_of_sale' to datetime format
df2['date_of_sale'] = pd.to_datetime(df2['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Add AgeOfVehicle column (date of sale year - YearMade)
df2['AgeOfVehicle'] = df2['date_of_sale'].dt.year - df2['YearMade']

# Display the first few rows of the updated DataFrame

df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,66000,999089,3157,121,3,2004,68,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3,1996,4640,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3,2001,2838,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3,2001,3486,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3,2007,722,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [ ]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 55 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 12428 non-null  category
 9   saledate                  14180 non-null  category
 10  fiModelDesc               14180 non-null  category
 11  fiBaseModel               14180 non-null  category
 12  fiSecondaryDesc           9177 non-null   category
 13  fiModelSeries             2051 non-null   category
 14  fiModelDescriptor         3498 non-null   category
 15  ProductSize               6719 non-null   category
 16  fiProductClassDesc        14180 non-null  category
 17  state                     14180 non-null  category
 18  ProductGroup              14180 non-null  category
 19  ProductGroupDesc          14180 non-null  category
 20  Drive_System              3113 non-null   category
 21  Enclosure                 14173 non-null  category
 22  Forks                     7071 non-null   category
 23  Pad_Type                  2301 non-null   category
 24  Ride_Control              4591 non-null   category
 25  Stick                     2301 non-null   category
 26  Transmission              5474 non-null   category
 27  Turbocharged              2301 non-null   category
 28  Blade_Extension           809 non-null    category
 29  Blade_Width               809 non-null    category
 30  Enclosure_Type            809 non-null    category
 31  Engine_Horsepower         809 non-null    category
 32  Hydraulics                11842 non-null  category
 33  Pushblock                 809 non-null    category
 34  Ripper                    3167 non-null   category
 35  Scarifier                 809 non-null    category
 36  Tip_Control               809 non-null    category
 37  Tire_Size                 3097 non-null   category
 38  Coupler                   8610 non-null   category
 39  Coupler_System            2485 non-null   category
 40  Grouser_Tracks            2474 non-null   category
 41  Hydraulics_Flow           2474 non-null   category
 42  Track_Type                3794 non-null   category
 43  Undercarriage_Pad_Width   3812 non-null   category
 44  Stick_Length              3794 non-null   category
 45  Thumb                     3797 non-null   category
 46  Pattern_Changer           3794 non-null   category
 47  Grouser_Type              3794 non-null   category
 48  Backhoe_Mounting          2355 non-null   category
 49  Blade_Type                2386 non-null   category
 50  Travel_Controls           2386 non-null   category
 51  Differential_Type         2288 non-null   category
 52  Steering_Controls         2287 non-null   category
 53  date_of_sale              14180 non-null  datetime64[ns]
 54  AgeOfVehicle              14180 non-null  int64
dtypes: category(45), datetime64[ns](1), int64(9)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 55 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 14180 non-null  int8
 9   saledate                  14180 non-null  int16
 10  fiModelDesc               14180 non-null  int16
 11  fiBaseModel               14180 non-null  int16
 12  fiSecondaryDesc           14180 non-null  int8
 13  fiModelSeries             14180 non-null  int8
 14  fiModelDescriptor         14180 non-null  int8
 15  ProductSize               14180 non-null  int8
 16  fiProductClassDesc        14180 non-null  int8
 17  state                     14180 non-null  int8
 18  ProductGroup              14180 non-null  int8
 19  ProductGroupDesc          14180 non-null  int8
 20  Drive_System              14180 non-null  int8
 21  Enclosure                 14180 non-null  int8
 22  Forks                     14180 non-null  int8
 23  Pad_Type                  14180 non-null  int8
 24  Ride_Control              14180 non-null  int8
 25  Stick                     14180 non-null  int8
 26  Transmission              14180 non-null  int8
 27  Turbocharged              14180 non-null  int8
 28  Blade_Extension           14180 non-null  int8
 29  Blade_Width               14180 non-null  int8
 30  Enclosure_Type            14180 non-null  int8
 31  Engine_Horsepower         14180 non-null  int8
 32  Hydraulics                14180 non-null  int8
 33  Pushblock                 14180 non-null  int8
 34  Ripper                    14180 non-null  int8
 35  Scarifier                 14180 non-null  int8
 36  Tip_Control               14180 non-null  int8
 37  Tire_Size                 14180 non-null  int8
 38  Coupler                   14180 non-null  int8
 39  Coupler_System            14180 non-null  int8
 40  Grouser_Tracks            14180 non-null  int8
 41  Hydraulics_Flow           14180 non-null  int8
 42  Track_Type                14180 non-null  int8
 43  Undercarriage_Pad_Width   14180 non-null  int8
 44  Stick_Length              14180 non-null  int8
 45  Thumb                     14180 non-null  int8
 46  Pattern_Changer           14180 non-null  int8
 47  Grouser_Type              14180 non-null  int8
 48  Backhoe_Mounting          14180 non-null  int8
 49  Blade_Type                14180 non-null  int8
 50  Travel_Controls           14180 non-null  int8
 51  Differential_Type         14180 non-null  int8
 52  Steering_Controls         14180 non-null  int8
 53  date_of_sale              14180 non-null  datetime64[ns]
 54  AgeOfVehicle              14180 non-null  int64
dtypes: datetime64[ns](1), int16(3), int64(9), int8(42)
memory usage: 1.7 MB

In [ ]:
# create X and y
X = df2.drop(columns='SalePrice')
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,999089,3157,121,3,2004,68,1,116,421,...,-1,-1,-1,-1,-1,-1,2,1,2006-11-16,2
1,1139248,117657,77,121,3,1996,4640,1,283,785,...,-1,-1,-1,-1,-1,-1,2,1,2004-03-26,8
2,1139249,434808,7009,121,3,2001,2838,0,232,138,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3,2001,3486,0,378,1470,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3,2007,722,2,514,1643,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
14175     30000
14176     25000
14177     51000
14178    111000
14179     11500
Name: SalePrice, Length: 14180, dtype: int64

In [ ]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
2922,1148987,1008947,12524,121,3,2005,2498,1,365,1750,...,1,1,0,-1,-1,-1,-1,-1,2011-05-12,6
12429,1179955,1024920,18605,121,3,2005,477,1,430,858,...,-1,-1,-1,-1,-1,-1,-1,-1,2008-06-12,3
13247,1182660,1040806,11922,121,3,1000,0,-1,562,981,...,-1,-1,-1,0,3,5,-1,-1,2008-08-21,1008
13717,1184231,994715,3538,121,3,1997,6890,2,134,335,...,-1,-1,-1,-1,-1,-1,-1,-1,2008-11-25,11
1245,1143457,1011558,4503,121,3,1996,2552,1,619,587,...,-1,-1,-1,-1,-1,-1,-1,-1,2007-09-20,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,1156737,1059202,4123,121,3,1000,0,-1,161,1029,...,-1,-1,-1,0,3,5,-1,-1,2006-12-14,1006
13418,1183248,1019583,5273,121,3,1997,6566,2,98,958,...,-1,-1,-1,0,3,5,-1,-1,2008-10-06,11
5390,1157370,999411,11605,121,3,2000,15671,0,372,1176,...,2,0,0,-1,-1,-1,-1,-1,2007-05-17,7
860,1142111,1035047,4093,121,3,2003,2750,0,96,952,...,-1,-1,-1,0,3,5,-1,-1,2006-10-05,3
7270,1163714,1035169,3362,121,3,1984,18976,2,406,39,...,-1,-1,-1,-1,-1,-1,-1,-1,2007-05-31,23

In [ ]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23818.784049020975

In [ ]:
# create X and y
X = df2.drop(columns=['SalePrice','MachineHoursCurrentMeter','date_of_sale']+list(df.columns[21:52]))
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Steering_Controls,AgeOfVehicle
0,1139246,999089,3157,121,3,2004,1,116,421,180,...,-1,-1,-1,53,0,5,5,-1,1,2
1,1139248,117657,77,121,3,1996,1,283,785,306,...,47,-1,3,56,32,5,5,-1,1,8
2,1139249,434808,7009,121,3,2001,0,232,138,65,...,-1,-1,-1,35,31,2,2,-1,-1,3
3,1139251,1026470,332,121,3,2001,0,378,1470,655,...,25,-1,5,7,42,3,3,-1,-1,10
4,1139253,1057373,17311,121,3,2007,2,514,1643,719,...,-1,-1,-1,36,31,2,2,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
14175     30000
14176     25000
14177     51000
14178    111000
14179     11500
Name: SalePrice, Length: 14180, dtype: int64

In [ ]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Steering_Controls,AgeOfVehicle
2922,1148987,1008947,12524,121,3,2005,1,365,1750,794,...,-1,-1,4,16,17,3,3,-1,-1,6
12429,1179955,1024920,18605,121,3,2005,1,430,858,347,...,-1,-1,-1,39,29,2,2,-1,-1,3
13247,1182660,1040806,11922,121,3,1000,-1,562,981,388,...,-1,-1,3,43,34,4,4,-1,-1,1008
13717,1184231,994715,3538,121,3,1997,2,134,335,143,...,-1,-1,-1,1,50,0,0,1,-1,11
1245,1143457,1011558,4503,121,3,1996,1,619,587,222,...,-1,-1,-1,28,6,1,1,2,-1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,1156737,1059202,4123,121,3,1000,-1,161,1029,391,...,-1,-1,3,44,48,4,4,-1,-1,1006
13418,1183248,1019583,5273,121,3,1997,2,98,958,385,...,-1,-1,-1,50,35,4,4,-1,-1,11
5390,1157370,999411,11605,121,3,2000,0,372,1176,456,...,20,-1,2,13,42,3,3,-1,-1,7
860,1142111,1035047,4093,121,3,2003,0,96,952,376,...,-1,-1,-1,47,34,4,4,-1,-1,3
7270,1163714,1035169,3362,121,3,1984,2,406,39,14,...,-1,-1,-1,29,40,1,1,2,-1,23

In [ ]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23818.784049020975

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 3486.363
Test RMSE: 8737.705

In [ ]:
# Train the Isolation Forest model
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [ ]:
df.sort_values("anomaly_score").sample(20)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,anomaly_score,anomaly,anomaly_label
5047,1156250,30000,605547,3542,121,3,2003,1896,High,12/1/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.128661,1,Normal
6242,1160297,63000,1003011,6912,121,3,2002,3129,Medium,1/31/2008 0:00,...,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,0.174917,1,Normal
9548,1171527,53000,183400,4336,121,3,2004,8521,High,3/5/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,0.087077,1,Normal
8720,1168673,67000,305088,1597,121,3,1997,3876,Medium,3/25/2004 0:00,...,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN,0.121474,1,Normal
8506,1167980,30500,142196,3764,121,3,2003,0,NaN,10/4/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,0.056960,1,Normal
12206,1179150,110000,1042992,23752,121,3,2004,4428,High,5/15/2008 0:00,...,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,0.083868,1,Normal
10865,1175103,19500,909523,7026,121,3,2002,1086,Medium,3/24/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.190461,1,Normal
6159,1160052,20500,1045669,4146,121,3,1968,2526,Low,6/1/2006 0:00,...,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,NaN,NaN,0.133750,1,Normal
11408,1176369,15000,1009249,17792,121,3,2005,3,Low,12/20/2007 0:00,...,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,0.158739,1,Normal
12340,1179672,37000,1015162,11605,121,3,2000,9256,High,6/12/2008 0:00,...,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,0.139951,1,Normal
7542,1164618,11500,11701,7002,121,3,2000,822,Low,2/9/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.138055,1,Normal
462,1140774,18500,313889,9578,121,3,2005,469,Medium,10/25/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110018,1,Normal
12248,1179311,30000,111743,1229,121,3,1000,11138,Medium,5/15/2008 0:00,...,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,0.056300,1,Normal
6648,1161652,91000,1007520,1638,121,3,1998,3344,Low,6/15/2006 0:00,...,NaN,NaN,None or Unspecified,None or Unspecified,Differential Steer,NaN,NaN,0.129340,1,Normal
12473,1180101,36000,266041,3883,121,3,1000,3031,Low,6/12/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,0.045476,1,Normal
12000,1178478,10000,1045738,26204,121,3,1000,8066,Low,5/1/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,0.031637,1,Normal
1103,1142960,16500,1059930,3883,121,3,1000,42368,Medium,5/28/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,0.065782,1,Normal
7782,1165494,77500,1057125,1903,121,3,2003,4469,Medium,1/27/2010 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.114760,1,Normal
9681,1172014,87000,1052012,23931,121,3,1998,15408,High,1/28/2010 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.058674,1,Normal
12223,1179213,6500,799432,6270,121,3,2001,0,NaN,5/1/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.122405,1,Normal

In [ ]:
df.anomaly.value_counts()

anomaly
 1    14036
-1      144
Name: count, dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 14180 non-null  int8
 9   saledate                  14180 non-null  int16
 10  fiModelDesc               14180 non-null  int16
 11  fiBaseModel               14180 non-null  int16
 12  fiSecondaryDesc           14180 non-null  int8
 13  fiModelSeries             14180 non-null  int8
 14  fiModelDescriptor         14180 non-null  int8
 15  ProductSize               14180 non-null  int8
 16  fiProductClassDesc        14180 non-null  int8
 17  state                     14180 non-null  int8
 18  ProductGroup              14180 non-null  int8
 19  ProductGroupDesc          14180 non-null  int8
 20  Drive_System              14180 non-null  int8
 21  Enclosure                 14180 non-null  int8
 22  Forks                     14180 non-null  int8
 23  Pad_Type                  14180 non-null  int8
 24  Ride_Control              14180 non-null  int8
 25  Stick                     14180 non-null  int8
 26  Transmission              14180 non-null  int8
 27  Turbocharged              14180 non-null  int8
 28  Blade_Extension           14180 non-null  int8
 29  Blade_Width               14180 non-null  int8
 30  Enclosure_Type            14180 non-null  int8
 31  Engine_Horsepower         14180 non-null  int8
 32  Hydraulics                14180 non-null  int8
 33  Pushblock                 14180 non-null  int8
 34  Ripper                    14180 non-null  int8
 35  Scarifier                 14180 non-null  int8
 36  Tip_Control               14180 non-null  int8
 37  Tire_Size                 14180 non-null  int8
 38  Coupler                   14180 non-null  int8
 39  Coupler_System            14180 non-null  int8
 40  Grouser_Tracks            14180 non-null  int8
 41  Hydraulics_Flow           14180 non-null  int8
 42  Track_Type                14180 non-null  int8
 43  Undercarriage_Pad_Width   14180 non-null  int8
 44  Stick_Length              14180 non-null  int8
 45  Thumb                     14180 non-null  int8
 46  Pattern_Changer           14180 non-null  int8
 47  Grouser_Type              14180 non-null  int8
 48  Backhoe_Mounting          14180 non-null  int8
 49  Blade_Type                14180 non-null  int8
 50  Travel_Controls           14180 non-null  int8
 51  Differential_Type         14180 non-null  int8
 52  Steering_Controls         14180 non-null  int8
 53  date_of_sale              14180 non-null  datetime64[ns]
 54  AgeOfVehicle              14180 non-null  int64
 55  anomaly_score             14180 non-null  float64
 56  anomaly                   14180 non-null  int64
 57  anomaly_label             14180 non-null  object
dtypes: datetime64[ns](1), float64(1), int16(3), int64(10), int8(42), object(1)
memory usage: 2.1+ MB

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor()
model.fit(X_train, y_train)
y_test_pred = model.predict(X_test)
print("Test RMSE:", mean_squared_error(y_test, y_test_pred) ** 0.5)

Test RMSE: 8730.018403749544

In [ ]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3,2004,68,1,116,...,-1,-1,-1,2,1,2006-11-16,2,0.108480,1,Normal
1,1139248,57000,117657,77,121,3,1996,4640,1,283,...,-1,-1,-1,2,1,2004-03-26,8,0.038058,1,Normal
2,1139249,10000,434808,7009,121,3,2001,2838,0,232,...,-1,-1,-1,-1,-1,2004-02-26,3,0.153638,1,Normal
3,1139251,38500,1026470,332,121,3,2001,3486,0,378,...,-1,-1,-1,-1,-1,2011-05-19,10,0.087784,1,Normal
4,1139253,11000,1057373,17311,121,3,2007,722,2,514,...,-1,-1,-1,-1,-1,2009-07-23,2,0.145555,1,Normal

In [ ]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')
df3.info()

for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 14180 non-null  int8
 9   saledate                  14180 non-null  int16
 10  fiModelDesc               14180 non-null  int16
 11  fiBaseModel               14180 non-null  int16
 12  fiSecondaryDesc           14180 non-null  int8
 13  fiModelSeries             14180 non-null  int8
 14  fiModelDescriptor         14180 non-null  int8
 15  ProductSize               14180 non-null  int8
 16  fiProductClassDesc        14180 non-null  int8
 17  state                     14180 non-null  int8
 18  ProductGroup              14180 non-null  int8
 19  ProductGroupDesc          14180 non-null  int8
 20  Drive_System              14180 non-null  int8
 21  Enclosure                 14180 non-null  int8
 22  Forks                     14180 non-null  int8
 23  Pad_Type                  14180 non-null  int8
 24  Ride_Control              14180 non-null  int8
 25  Stick                     14180 non-null  int8
 26  Transmission              14180 non-null  int8
 27  Turbocharged              14180 non-null  int8
 28  Blade_Extension           14180 non-null  int8
 29  Blade_Width               14180 non-null  int8
 30  Enclosure_Type            14180 non-null  int8
 31  Engine_Horsepower         14180 non-null  int8
 32  Hydraulics                14180 non-null  int8
 33  Pushblock                 14180 non-null  int8
 34  Ripper                    14180 non-null  int8
 35  Scarifier                 14180 non-null  int8
 36  Tip_Control               14180 non-null  int8
 37  Tire_Size                 14180 non-null  int8
 38  Coupler                   14180 non-null  int8
 39  Coupler_System            14180 non-null  int8
 40  Grouser_Tracks            14180 non-null  int8
 41  Hydraulics_Flow           14180 non-null  int8
 42  Track_Type                14180 non-null  int8
 43  Undercarriage_Pad_Width   14180 non-null  int8
 44  Stick_Length              14180 non-null  int8
 45  Thumb                     14180 non-null  int8
 46  Pattern_Changer           14180 non-null  int8
 47  Grouser_Type              14180 non-null  int8
 48  Backhoe_Mounting          14180 non-null  int8
 49  Blade_Type                14180 non-null  int8
 50  Travel_Controls           14180 non-null  int8
 51  Differential_Type         14180 non-null  int8
 52  Steering_Controls         14180 non-null  int8
 53  date_of_sale              14180 non-null  datetime64[ns]
 54  AgeOfVehicle              14180 non-null  int64
 55  anomaly_score             14180 non-null  float64
 56  anomaly                   14180 non-null  int64
 57  anomaly_label             14180 non-null  category
dtypes: category(1), datetime64[ns](1), float64(1), int16(3), int64(10), int8(42)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14180 entries, 0 to 14179
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   14180 non-null  int64
 1   SalePrice                 14180 non-null  int64
 2   MachineID                 14180 non-null  int64
 3   ModelID                   14180 non-null  int64
 4   datasource                14180 non-null  int64
 5   auctioneerID              14180 non-null  int64
 6   YearMade                  14180 non-null  int64
 7   MachineHoursCurrentMeter  14180 non-null  int64
 8   UsageBand                 14180 non-null  int8
 9   saledate                  14180 non-null  int16
 10  fiModelDesc               14180 non-null  int16
 11  fiBaseModel               14180 non-null  int16
 12  fiSecondaryDesc           14180 non-null  int8
 13  fiModelSeries             14180 non-null  int8
 14  fiModelDescriptor         14180 non-null  int8
 15  ProductSize               14180 non-null  int8
 16  fiProductClassDesc        14180 non-null  int8
 17  state                     14180 non-null  int8
 18  ProductGroup              14180 non-null  int8
 19  ProductGroupDesc          14180 non-null  int8
 20  Drive_System              14180 non-null  int8
 21  Enclosure                 14180 non-null  int8
 22  Forks                     14180 non-null  int8
 23  Pad_Type                  14180 non-null  int8
 24  Ride_Control              14180 non-null  int8
 25  Stick                     14180 non-null  int8
 26  Transmission              14180 non-null  int8
 27  Turbocharged              14180 non-null  int8
 28  Blade_Extension           14180 non-null  int8
 29  Blade_Width               14180 non-null  int8
 30  Enclosure_Type            14180 non-null  int8
 31  Engine_Horsepower         14180 non-null  int8
 32  Hydraulics                14180 non-null  int8
 33  Pushblock                 14180 non-null  int8
 34  Ripper                    14180 non-null  int8
 35  Scarifier                 14180 non-null  int8
 36  Tip_Control               14180 non-null  int8
 37  Tire_Size                 14180 non-null  int8
 38  Coupler                   14180 non-null  int8
 39  Coupler_System            14180 non-null  int8
 40  Grouser_Tracks            14180 non-null  int8
 41  Hydraulics_Flow           14180 non-null  int8
 42  Track_Type                14180 non-null  int8
 43  Undercarriage_Pad_Width   14180 non-null  int8
 44  Stick_Length              14180 non-null  int8
 45  Thumb                     14180 non-null  int8
 46  Pattern_Changer           14180 non-null  int8
 47  Grouser_Type              14180 non-null  int8
 48  Backhoe_Mounting          14180 non-null  int8
 49  Blade_Type                14180 non-null  int8
 50  Travel_Controls           14180 non-null  int8
 51  Differential_Type         14180 non-null  int8
 52  Steering_Controls         14180 non-null  int8
 53  date_of_sale              14180 non-null  datetime64[ns]
 54  AgeOfVehicle              14180 non-null  int64
 55  anomaly_score             14180 non-null  float64
 56  anomaly                   14180 non-null  int64
 57  anomaly_label             14180 non-null  int8
dtypes: datetime64[ns](1), float64(1), int16(3), int64(10), int8(43)
memory usage: 2.0 MB

In [41]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

<ipython-input-41-df8b6de2a97f>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df3[df2.anomaly==1].copy()

Train RMSE: 3255.693
Test RMSE: 3259.650

In [40]:
pd.Series(model2.feature_importances_, index=X2_train.columns).sort_values(ascending=False)

Enclosure                   0.182508
Coupler_System              0.163238
AgeOfVehicle                0.115454
fiProductClassDesc          0.100118
ProductSize                 0.073877
ModelID                     0.056304
fiSecondaryDesc             0.050739
fiModelDesc                 0.036401
MachineID                   0.022059
YearMade                    0.020687
MachineHoursCurrentMeter    0.019577
fiBaseModel                 0.019016
SalesID                     0.018084
saledate                    0.016342
Transmission                0.015157
state                       0.011774
Blade_Type                  0.009747
Ripper                      0.008899
fiModelDescriptor           0.006770
Track_Type                  0.006027
fiModelSeries               0.005273
Travel_Controls             0.004143
Hydraulics                  0.003556
UsageBand                   0.003340
Blade_Width                 0.003168
Pushblock                   0.002974
Tire_Size                   0.002931
Scarifier                   0.002931
Tip_Control                 0.002210
Undercarriage_Pad_Width     0.002125
Coupler                     0.001745
Blade_Extension             0.001674
Drive_System                0.001666
Enclosure_Type              0.001393
Stick_Length                0.001392
ProductGroup                0.001072
Thumb                       0.000964
Forks                       0.000736
Engine_Horsepower           0.000709
ProductGroupDesc            0.000669
Pattern_Changer             0.000622
Ride_Control                0.000456
Grouser_Type                0.000397
Differential_Type           0.000360
Backhoe_Mounting            0.000245
Steering_Controls           0.000211
Stick                       0.000110
Pad_Type                    0.000057
Turbocharged                0.000052
Grouser_Tracks              0.000037
Hydraulics_Flow             0.000006
datasource                  0.000000
auctioneerID                0.000000
dtype: float64