<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/3_2_25ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-5-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 162.2+ MB

In [7]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Convert 'date_of_sale' to datetime format
df2['date_of_sale'] = pd.to_datetime(df2['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Add AgeOfVehicle column (date of sale year - YearMade)
df2['AgeOfVehicle'] = df2['date_of_sale'].dt.year - df2['YearMade']

# Display the first few rows of the updated DataFrame

df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [9]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   category
 9   saledate                  401125 non-null  category
 10  fiModelDesc               401125 non-null  category
 11  fiBaseModel               401125 non-null  category
 12  fiSecondaryDesc           263934 non-null  category
 13  fiModelSeries             56908 non-null   category
 14  fiModelDescriptor         71919 non-null   category
 15  ProductSize               190350 non-null  category
 16  fiProductClassDesc        401125 non-null  category
 17  state                     401125 non-null  category
 18  ProductGroup              401125 non-null  category
 19  ProductGroupDesc          401125 non-null  category
 20  Drive_System              104361 non-null  category
 21  Enclosure                 400800 non-null  category
 22  Forks                     192077 non-null  category
 23  Pad_Type                  79134 non-null   category
 24  Ride_Control              148606 non-null  category
 25  Stick                     79134 non-null   category
 26  Transmission              183230 non-null  category
 27  Turbocharged              79134 non-null   category
 28  Blade_Extension           25219 non-null   category
 29  Blade_Width               25219 non-null   category
 30  Enclosure_Type            25219 non-null   category
 31  Engine_Horsepower         25219 non-null   category
 32  Hydraulics                320570 non-null  category
 33  Pushblock                 25219 non-null   category
 34  Ripper                    104137 non-null  category
 35  Scarifier                 25230 non-null   category
 36  Tip_Control               25219 non-null   category
 37  Tire_Size                 94718 non-null   category
 38  Coupler                   213952 non-null  category
 39  Coupler_System            43458 non-null   category
 40  Grouser_Tracks            43362 non-null   category
 41  Hydraulics_Flow           43362 non-null   category
 42  Track_Type                99153 non-null   category
 43  Undercarriage_Pad_Width   99872 non-null   category
 44  Stick_Length              99218 non-null   category
 45  Thumb                     99288 non-null   category
 46  Pattern_Changer           99218 non-null   category
 47  Grouser_Type              99153 non-null   category
 48  Backhoe_Mounting          78672 non-null   category
 49  Blade_Type                79833 non-null   category
 50  Travel_Controls           79834 non-null   category
 51  Differential_Type         69411 non-null   category
 52  Steering_Controls         69369 non-null   category
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: category(45), datetime64[ns](1), float64(2), int64(7)
memory usage: 50.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(6), int64(7), int8(39)
memory usage: 50.1 MB

In [10]:
# create X and y
X = df2.drop(columns='SalePrice')
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004,68.0,1,668,949,...,-1,-1,-1,-1,-1,-1,3,1,2006-11-16,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1722,1724,...,-1,-1,-1,-1,-1,-1,3,1,2004-03-26,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1382,330,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2394,3673,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,3179,4207,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 401125, dtype: int64

In [11]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
38463,1276922,1394823,6783,132,1.0,1991,NaN,-1,3682,981,...,-1,-1,-1,0,5,5,-1,-1,1997-09-18,6
215512,1680074,1342381,15148,132,4.0,1000,NaN,-1,1472,2746,...,2,1,0,-1,-1,-1,-1,-1,2010-02-08,1010
64285,1333014,1377089,1092,132,2.0,1994,NaN,-1,1427,475,...,2,1,0,-1,-1,-1,-1,-1,2002-02-04,8
40874,1281221,1246900,3170,132,2.0,1988,NaN,-1,1220,1056,...,-1,-1,-1,-1,-1,-1,-1,-1,1994-02-10,6
161494,1582538,1505530,4674,132,11.0,1988,NaN,-1,1731,906,...,2,1,0,-1,-1,-1,-1,-1,1997-03-27,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1792573,1252444,9548,132,1.0,1989,NaN,-1,1735,1352,...,-1,-1,-1,-1,-1,-1,-1,-1,2003-03-27,14
365838,2554295,1550967,3857,149,1.0,1992,23244.0,2,1269,1749,...,-1,-1,-1,-1,-1,-1,3,1,2011-02-15,19
131932,1486248,428435,7256,132,2.0,2000,NaN,-1,998,1664,...,-1,-1,-1,-1,-1,-1,3,1,2006-12-16,6
146867,1518511,1276538,1638,132,2.0,1999,NaN,-1,2363,2308,...,-1,-1,-1,0,5,5,-1,-1,2003-05-17,4
121958,1464497,1348519,7057,132,7.0,1996,NaN,-1,308,503,...,2,1,2,-1,-1,-1,-1,-1,2005-10-19,9

In [12]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 22932.4005340408

In [13]:
# create X and y
X = df2.drop(columns=['SalePrice','MachineHoursCurrentMeter','date_of_sale']+list(df.columns[21:52]))
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Steering_Controls,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004,1,668,949,295,...,-1,-1,-1,58,0,5,5,-1,1,2
1,1139248,117657,77,121,3.0,1996,1,1722,1724,526,...,103,-1,3,61,32,5,5,-1,1,8
2,1139249,434808,7009,121,3.0,2001,0,1382,330,109,...,-1,-1,-1,38,31,2,2,-1,-1,3
3,1139251,1026470,332,121,3.0,2001,0,2394,3673,1374,...,50,-1,5,7,43,3,3,-1,-1,10
4,1139253,1057373,17311,121,3.0,2007,2,3179,4207,1528,...,-1,-1,-1,39,31,2,2,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 401125, dtype: int64

In [14]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Steering_Controls,AgeOfVehicle
38463,1276922,1394823,6783,132,1.0,1991,-1,3682,981,307,...,-1,-1,-1,50,48,4,4,-1,-1,6
215512,1680074,1342381,15148,132,4.0,1000,-1,1472,2746,853,...,28,-1,4,24,8,3,3,-1,-1,1010
64285,1333014,1377089,1092,132,2.0,1994,-1,1427,475,172,...,-1,108,4,24,8,3,3,-1,-1,8
40874,1281221,1246900,3170,132,2.0,1988,-1,1220,1056,323,...,-1,-1,-1,1,8,0,0,1,-1,6
161494,1582538,1505530,4674,132,11.0,1988,-1,1731,906,283,...,-1,-1,5,26,23,3,3,-1,-1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1792573,1252444,9548,132,1.0,1989,-1,1735,1352,397,...,-1,-1,-1,37,19,2,2,-1,-1,14
365838,2554295,1550967,3857,149,1.0,1992,2,1269,1749,532,...,-1,-1,3,63,8,5,5,-1,1,19
131932,1486248,428435,7256,132,2.0,2000,-1,998,1664,505,...,-1,-1,0,70,29,5,5,-1,1,6
146867,1518511,1276538,1638,132,2.0,1999,-1,2363,2308,703,...,-1,127,3,48,31,4,4,-1,-1,4
121958,1464497,1348519,7057,132,7.0,1996,-1,308,503,176,...,-1,-1,5,7,40,3,3,-1,-1,9

In [15]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 22932.4005340408

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2786.277
Test RMSE: 7453.616

In [19]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [21]:
df2.sort_values("anomaly_score").sample(20)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
120103,1461660,21000,1299636,7113,132,1.0,1989,NaN,-1,1181,...,-1,-1,-1,-1,-1,1998-12-08,9,0.180875,1,Normal
20891,1211804,27500,1017648,2323,121,3.0,2001,8111.0,2,1365,...,-1,-1,-1,3,1,2011-02-24,10,0.029746,1,Normal
80252,1376201,33000,1265040,107,132,23.0,1993,2729.0,0,3829,...,0,5,6,-1,-1,1996-09-28,3,0.109918,1,Normal
297575,2233243,58000,892401,1355,136,2.0,1997,0.0,-1,1144,...,-1,-1,-1,-1,-1,2007-12-05,10,0.165486,1,Normal
129512,1481507,10000,1082125,7291,132,1.0,1974,NaN,-1,2778,...,-1,-1,-1,3,1,2006-06-20,32,0.128973,1,Normal
291005,2208987,19000,1659656,3180,136,1.0,2001,0.0,-1,3163,...,-1,-1,-1,-1,-1,2009-07-21,8,0.134306,1,Normal
262915,1798699,10000,536134,9551,132,1.0,1998,NaN,-1,1350,...,-1,-1,-1,-1,-1,2007-02-23,9,0.191246,1,Normal
149911,1523824,86000,888972,1177,132,6.0,1993,NaN,-1,2586,...,-1,-1,-1,-1,-1,1997-05-08,4,0.162778,1,Normal
72507,1356645,22000,727404,4090,132,11.0,1989,NaN,-1,2498,...,0,5,5,-1,-1,1997-05-29,8,0.202026,1,Normal
397559,6286882,37500,1802503,14304,149,1.0,2008,NaN,-1,972,...,-1,-1,-1,-1,-1,2011-12-14,3,0.054601,1,Normal
61391,1325046,17000,1368376,4112,132,4.0,1977,NaN,-1,1230,...,0,7,5,-1,-1,1994-02-11,17,0.202532,1,Normal
343,1140369,10000,1012784,7261,121,3.0,1971,0.0,-1,2215,...,-1,-1,-1,3,1,2006-04-06,35,0.110812,1,Normal
380836,4275631,43000,1224324,3362,172,1.0,1985,9112.0,1,2963,...,-1,-1,-1,-1,-1,2009-06-04,24,0.033426,1,Normal
190742,1627393,16500,1473773,4603,132,1.0,1995,NaN,-1,3703,...,-1,-1,-1,-1,-1,2002-09-19,7,0.175317,1,Normal
159022,1576353,13000,1260845,4531,132,99.0,1986,NaN,-1,1952,...,-1,-1,-1,3,1,1998-04-16,12,0.110339,1,Normal
175714,1606068,32000,1321839,4734,132,4.0,1990,NaN,-1,1249,...,-1,-1,-1,3,1,2006-02-13,16,0.170095,1,Normal
366987,2568088,92500,1038616,1627,149,1.0,2004,4722.0,2,3036,...,0,9,2,-1,-1,2011-06-09,7,0.069534,1,Normal
72669,1357914,17500,1161652,3767,132,1.0,1994,NaN,-1,1290,...,-1,-1,-1,3,1,2003-02-18,9,0.154148,1,Normal
388406,4358725,63000,1394337,12004,172,1.0,2004,6882.0,2,422,...,-1,-1,-1,3,1,2010-10-27,6,-0.003620,-1,Anomaly
99050,1416604,56000,1074535,3357,132,6.0,1980,NaN,-1,1409,...,-1,-1,-1,-1,-1,1996-02-29,16,0.155488,1,Normal

In [22]:
df2.anomaly.value_counts()

anomaly
 1    396990
-1      4135
Name: count, dtype: int64

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
 55  anomaly_score             401125 non-null  float64
 56  anomaly                   401125 non-null  int64
 57  anomaly_label             401125 non-null  object
dtypes: datetime64[ns](1), float64(3), int16(6), int64(8), int8(39), object(1)
memory usage: 59.3+ MB

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor()
model.fit(X_train, y_train)
y_test_pred = model.predict(X_test)
print("Test RMSE:", mean_squared_error(y_test, y_test_pred) ** 0.5)

Test RMSE: 7445.753973669854

In [25]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,668,...,-1,-1,-1,3,1,2006-11-16,2,0.088231,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1722,...,-1,-1,-1,3,1,2004-03-26,8,0.032343,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,1382,...,-1,-1,-1,-1,-1,2004-02-26,3,0.146081,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,2394,...,-1,-1,-1,-1,-1,2011-05-19,10,0.093704,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,3179,...,-1,-1,-1,-1,-1,2009-07-23,2,0.090882,1,Normal

In [26]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')
df3.info()

for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
 55  anomaly_score             401125 non-null  float64
 56  anomaly                   401125 non-null  int64
 57  anomaly_label             401125 non-null  category
dtypes: category(1), datetime64[ns](1), float64(3), int16(6), int64(8), int8(39)
memory usage: 56.6 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
 55  anomaly_score             401125 non-null  float64
 56  anomaly                   401125 non-null  int64
 57  anomaly_label             401125 non-null  int8
dtypes: datetime64[ns](1), float64(3), int16(6), int64(8), int8(40)
memory usage: 56.6 MB

In [27]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2667.405
Test RMSE: 2677.002

In [30]:
y2_test_pred = model2.predict(X2_test)
print("Test RMSE:", mean_squared_error(y2_test, y2_test_pred) ** 0.5)

Test RMSE: 2677.002331981053

In [28]:
pd.Series(model2.feature_importances_, index=X2_train.columns).sort_values(ascending=False)

ProductSize                 0.275746
AgeOfVehicle                0.188152
YearMade                    0.090927
fiBaseModel                 0.079728
fiSecondaryDesc             0.055450
fiProductClassDesc          0.046708
ModelID                     0.038403
Coupler_System              0.030187
SalesID                     0.028855
fiModelDesc                 0.024414
MachineID                   0.019991
saledate                    0.018856
Hydraulics                  0.016292
state                       0.011802
Enclosure                   0.010398
fiModelDescriptor           0.009571
Blade_Width                 0.008152
auctioneerID                0.006794
MachineHoursCurrentMeter    0.006232
Pushblock                   0.005127
fiModelSeries               0.004422
Ripper                      0.002637
Tire_Size                   0.002392
Drive_System                0.002352
Blade_Type                  0.001707
Undercarriage_Pad_Width     0.001433
Tip_Control                 0.001391
Stick_Length                0.001321
UsageBand                   0.001249
Coupler                     0.001103
Thumb                       0.000839
Travel_Controls             0.000772
Transmission                0.000742
datasource                  0.000645
Grouser_Type                0.000524
Enclosure_Type              0.000511
Ride_Control                0.000501
Scarifier                   0.000500
Forks                       0.000492
Blade_Extension             0.000448
Engine_Horsepower           0.000381
Track_Type                  0.000379
Pattern_Changer             0.000266
ProductGroupDesc            0.000227
Differential_Type           0.000207
Stick                       0.000187
ProductGroup                0.000174
Backhoe_Mounting            0.000167
Steering_Controls           0.000148
Pad_Type                    0.000054
Turbocharged                0.000032
Grouser_Tracks              0.000008
Hydraulics_Flow             0.000005
dtype: float64