<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/4_2_25_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os

# Get the size of the file in bytes
file_path = '/content/4.2.25_#3.pkl'
file_size = os.path.getsize(file_path)

# Convert bytes to megabytes (MB)
file_size_mb = file_size / (1024 * 1024)
print(f"File size: {file_size_mb:.2f} MB")

File size: 534.97 MB

In [1]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       1.1Gi        10Gi       1.0Mi       892Mi        11Gi
Swap:             0B          0B          0B

# Modify the code : YearMade(1000)
** Rows where YearMade == 1000** will have both:
YearMade set to NaN
** AgeOfVehicle set to NaN**
All other rows will have their normal age calculated based on the date_of_sale and YearMade.
This ensures that both the YearMade and AgeOfVehicle columns behave appropriately for the rows where YearMade is 1000.

In [1]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-1-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [2]:
print(df.shape)

(401125, 53)

In [3]:
df = df.drop(columns=list(df.columns[21:53]))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
dtypes: float64(2), int64(6), object(13)
memory usage: 64.3+ MB

In [4]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,521,D,NaN,NaN,NaN,Wheel Loader - 110.0 to 120.0 Horsepower,Alabama,WL,Wheel Loader,NaN
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,950,F,II,NaN,Medium,Wheel Loader - 150.0 to 175.0 Horsepower,North Carolina,WL,Wheel Loader,NaN
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,226,NaN,NaN,NaN,NaN,Skid Steer Loader - 1351.0 to 1601.0 Lb Operat...,New York,SSL,Skid Steer Loaders,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,PC120,NaN,-6E,NaN,Small,"Hydraulic Excavator, Track - 12.0 to 14.0 Metr...",Texas,TEX,Track Excavators,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,S175,NaN,NaN,NaN,NaN,Skid Steer Loader - 1601.0 to 1751.0 Lb Operat...,New York,SSL,Skid Steer Loaders,NaN

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
dtypes: float64(2), int64(6), object(13)
memory usage: 64.3+ MB

In [6]:
print(df2.shape)

(401125, 21)

In [7]:
import numpy as np
import pandas as pd

# Convert 'date_of_sale' to datetime format
df2['date_of_sale'] = pd.to_datetime(df2['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Set 'YearMade' to NaN if it's 1000
df2['YearMade'] = np.where(df2['YearMade'] == 1000, np.nan, df2['YearMade'])

# Add AgeOfVehicle column, with a condition to handle YearMade being NaN
df2['AgeOfVehicle'] = np.where(df2['YearMade'].isna(), np.nan, df2['date_of_sale'].dt.year - df2['YearMade'])

# Display the first few rows of the updated DataFrame
print(df2.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0    2004.0
1  1139248      57000     117657       77         121           3.0    1996.0
2  1139249      10000     434808     7009         121           3.0    2001.0
3  1139251      38500    1026470      332         121           3.0    2001.0
4  1139253      11000    1057373    17311         121           3.0    2007.0

   MachineHoursCurrentMeter UsageBand         saledate  ... fiModelSeries  \
0                      68.0       Low  11/16/2006 0:00  ...           NaN
1                    4640.0       Low   3/26/2004 0:00  ...            II
2                    2838.0      High   2/26/2004 0:00  ...           NaN
3                    3486.0      High   5/19/2011 0:00  ...           -6E
4                     722.0    Medium   7/23/2009 0:00  ...           NaN

  fiModelDescriptor ProductSize  \
0               NaN         NaN
1               NaN      Medium
2               NaN         NaN
3               NaN       Small
4               NaN         NaN

                                  fiProductClassDesc           state  \
0           Wheel Loader - 110.0 to 120.0 Horsepower         Alabama
1           Wheel Loader - 150.0 to 175.0 Horsepower  North Carolina
2  Skid Steer Loader - 1351.0 to 1601.0 Lb Operat...        New York
3  Hydraulic Excavator, Track - 12.0 to 14.0 Metr...           Texas
4  Skid Steer Loader - 1601.0 to 1751.0 Lb Operat...        New York

  ProductGroup    ProductGroupDesc Drive_System date_of_sale AgeOfVehicle
0           WL        Wheel Loader          NaN   2006-11-16          2.0
1           WL        Wheel Loader          NaN   2004-03-26          8.0
2          SSL  Skid Steer Loaders          NaN   2004-02-26          3.0
3          TEX    Track Excavators          NaN   2011-05-19         10.0
4          SSL  Skid Steer Loaders          NaN   2009-07-23          2.0

[5 rows x 23 columns]

In [8]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  362940 non-null  float64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   category
 9   saledate                  401125 non-null  category
 10  fiModelDesc               401125 non-null  category
 11  fiBaseModel               401125 non-null  category
 12  fiSecondaryDesc           263934 non-null  category
 13  fiModelSeries             56908 non-null   category
 14  fiModelDescriptor         71919 non-null   category
 15  ProductSize               190350 non-null  category
 16  fiProductClassDesc        401125 non-null  category
 17  state                     401125 non-null  category
 18  ProductGroup              401125 non-null  category
 19  ProductGroupDesc          401125 non-null  category
 20  Drive_System              104361 non-null  category
 21  date_of_sale              401125 non-null  datetime64[ns]
 22  AgeOfVehicle              362940 non-null  float64
dtypes: category(13), datetime64[ns](1), float64(4), int64(5)
memory usage: 38.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  362940 non-null  float64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  date_of_sale              401125 non-null  datetime64[ns]
 22  AgeOfVehicle              362940 non-null  float64
dtypes: datetime64[ns](1), float64(4), int16(6), int64(5), int8(7)
memory usage: 37.9 MB

In [9]:
# create X and y
X = df2.drop(columns='SalePrice')
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,date_of_sale,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004.0,68.0,1,668,949,...,-1,-1,-1,58,0,5,5,-1,2006-11-16,2.0
1,1139248,117657,77,121,3.0,1996.0,4640.0,1,1722,1724,...,103,-1,3,61,32,5,5,-1,2004-03-26,8.0
2,1139249,434808,7009,121,3.0,2001.0,2838.0,0,1382,330,...,-1,-1,-1,38,31,2,2,-1,2004-02-26,3.0
3,1139251,1026470,332,121,3.0,2001.0,3486.0,0,2394,3673,...,50,-1,5,7,43,3,3,-1,2011-05-19,10.0
4,1139253,1057373,17311,121,3.0,2007.0,722.0,2,3179,4207,...,-1,-1,-1,39,31,2,2,-1,2009-07-23,2.0

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 401125, dtype: int64

In [10]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,date_of_sale,AgeOfVehicle
38463,1276922,1394823,6783,132,1.0,1991.0,NaN,-1,3682,981,...,-1,-1,-1,50,48,4,4,-1,1997-09-18,6.0
215512,1680074,1342381,15148,132,4.0,NaN,NaN,-1,1472,2746,...,28,-1,4,24,8,3,3,-1,2010-02-08,NaN
64285,1333014,1377089,1092,132,2.0,1994.0,NaN,-1,1427,475,...,-1,108,4,24,8,3,3,-1,2002-02-04,8.0
40874,1281221,1246900,3170,132,2.0,1988.0,NaN,-1,1220,1056,...,-1,-1,-1,1,8,0,0,1,1994-02-10,6.0
161494,1582538,1505530,4674,132,11.0,1988.0,NaN,-1,1731,906,...,-1,-1,5,26,23,3,3,-1,1997-03-27,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1792573,1252444,9548,132,1.0,1989.0,NaN,-1,1735,1352,...,-1,-1,-1,37,19,2,2,-1,2003-03-27,14.0
365838,2554295,1550967,3857,149,1.0,1992.0,23244.0,2,1269,1749,...,-1,-1,3,63,8,5,5,-1,2011-02-15,19.0
131932,1486248,428435,7256,132,2.0,2000.0,NaN,-1,998,1664,...,-1,-1,0,70,29,5,5,-1,2006-12-16,6.0
146867,1518511,1276538,1638,132,2.0,1999.0,NaN,-1,2363,2308,...,-1,127,3,48,31,4,4,-1,2003-05-17,4.0
121958,1464497,1348519,7057,132,7.0,1996.0,NaN,-1,308,503,...,-1,-1,5,7,40,3,3,-1,2005-10-19,9.0

In [16]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 22932.4005340408

In [30]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice','date_of_sale','MachineHoursCurrentMeter'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004.0,1,668,949,295,40,-1,-1,-1,58,0,5,5,-1,2.0
1,1139248,117657,77,121,3.0,1996.0,1,1722,1724,526,54,103,-1,3,61,32,5,5,-1,8.0
2,1139249,434808,7009,121,3.0,2001.0,0,1382,330,109,-1,-1,-1,-1,38,31,2,2,-1,3.0
3,1139251,1026470,332,121,3.0,2001.0,0,2394,3673,1374,-1,50,-1,5,7,43,3,3,-1,10.0
4,1139253,1057373,17311,121,3.0,2007.0,2,3179,4207,1528,-1,-1,-1,-1,39,31,2,2,-1,2.0

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 401125, dtype: int64

In [31]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,AgeOfVehicle
38463,1276922,1394823,6783,132,1.0,1991.0,-1,3682,981,307,-1,-1,-1,-1,50,48,4,4,-1,6.0
215512,1680074,1342381,15148,132,4.0,NaN,-1,1472,2746,853,-1,28,-1,4,24,8,3,3,-1,NaN
64285,1333014,1377089,1092,132,2.0,1994.0,-1,1427,475,172,-1,-1,108,4,24,8,3,3,-1,8.0
40874,1281221,1246900,3170,132,2.0,1988.0,-1,1220,1056,323,74,-1,-1,-1,1,8,0,0,1,6.0
161494,1582538,1505530,4674,132,11.0,1988.0,-1,1731,906,283,40,-1,-1,5,26,23,3,3,-1,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1792573,1252444,9548,132,1.0,1989.0,-1,1735,1352,397,-1,-1,-1,-1,37,19,2,2,-1,14.0
365838,2554295,1550967,3857,149,1.0,1992.0,2,1269,1749,532,54,-1,-1,3,63,8,5,5,-1,19.0
131932,1486248,428435,7256,132,2.0,2000.0,-1,998,1664,505,-1,-1,-1,0,70,29,5,5,-1,6.0
146867,1518511,1276538,1638,132,2.0,1999.0,-1,2363,2308,703,114,-1,127,3,48,31,4,4,-1,4.0
121958,1464497,1348519,7057,132,7.0,1996.0,-1,308,503,176,-1,-1,-1,5,7,40,3,3,-1,9.0

In [32]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 22932.4005340408

In [33]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2798.491
Test RMSE: 7485.362

In [34]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [35]:
df2.anomaly.value_counts()

anomaly
 1    397122
-1      4003
Name: count, dtype: int64

In [36]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004.0,68.0,1,668,...,58,0,5,5,-1,2006-11-16,2.0,0.082894,1,Normal
1,1139248,57000,117657,77,121,3.0,1996.0,4640.0,1,1722,...,61,32,5,5,-1,2004-03-26,8.0,0.028477,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001.0,2838.0,0,1382,...,38,31,2,2,-1,2004-02-26,3.0,0.115502,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001.0,3486.0,0,2394,...,7,43,3,3,-1,2011-05-19,10.0,0.069555,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007.0,722.0,2,3179,...,39,31,2,2,-1,2009-07-23,2.0,0.050332,1,Normal

In [37]:
print(df3.shape)

(401125, 26)

In [38]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2720.390
Test RMSE: 2710.814

In [39]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#4.pkl')

['/content/4.2.25_#4.pkl']

In [40]:

df_valid = pd.read_csv("Valid.csv")

In [42]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  object
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
 20  Enclosure                 11564 non-null  object
 21  Forks                     5638 non-null   object
 22  Pad_Type                  1962 non-null   object
 23  Ride_Control              4122 non-null   object
 24  Stick                     1962 non-null   object
 25  Transmission              4777 non-null   object
 26  Turbocharged              1962 non-null   object
 27  Blade_Extension           764 non-null    object
 28  Blade_Width               764 non-null    object
 29  Enclosure_Type            764 non-null    object
 30  Engine_Horsepower         764 non-null    object
 31  Hydraulics                9563 non-null   object
 32  Pushblock                 764 non-null    object
 33  Ripper                    2808 non-null   object
 34  Scarifier                 764 non-null    object
 35  Tip_Control               764 non-null    object
 36  Tire_Size                 2920 non-null   object
 37  Coupler                   6727 non-null   object
 38  Coupler_System            1516 non-null   object
 39  Grouser_Tracks            1513 non-null   object
 40  Hydraulics_Flow           1513 non-null   object
 41  Track_Type                3040 non-null   object
 42  Undercarriage_Pad_Width   3044 non-null   object
 43  Stick_Length              3043 non-null   object
 44  Thumb                     3044 non-null   object
 45  Pattern_Changer           3043 non-null   object
 46  Grouser_Type              3040 non-null   object
 47  Backhoe_Mounting          2040 non-null   object
 48  Blade_Type                2042 non-null   object
 49  Travel_Controls           2043 non-null   object
 50  Differential_Type         2153 non-null   object
 51  Steering_Controls         2153 non-null   object
dtypes: float64(1), int64(6), object(45)
memory usage: 4.6+ MB

In [44]:
df_valid = df_valid.drop(columns=list(df_valid.columns[20:52]))
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  object
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 1.8+ MB

In [45]:
import numpy as np


# Convert 'date_of_sale' to datetime format
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Set 'YearMade' to NaN if it's 1000
df_valid['YearMade'] = np.where(df_valid['YearMade'] == 1000, np.nan, df_valid['YearMade'])

# Add AgeOfVehicle column, with a condition to handle YearMade being NaN
df_valid['AgeOfVehicle'] = np.where(df_valid['YearMade'].isna(), np.nan, df_valid['date_of_sale'].dt.year - df_valid['YearMade'])

# Display the first few rows of the updated DataFrame
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3       NaN
1  1222839    1048320    36526         121             3    2006.0
2  1222841     999308     4587         121             3    2000.0
3  1222843    1062425     1954         121             3       NaN
4  1222845    1032841     4701         121             3    2002.0

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

  fiModelSeries fiModelDescriptor     ProductSize  \
0           NaN                 L  Large / Medium
1             2               NaN  Large / Medium
2           NaN                LC  Large / Medium
3           NaN                LC  Large / Medium
4           NaN               NaN             NaN

                                  fiProductClassDesc        state  \
0  Hydraulic Excavator, Track - 66.0 to 90.0 Metr...     Kentucky
1  Hydraulic Excavator, Track - 28.0 to 33.0 Metr...  Connecticut
2  Hydraulic Excavator, Track - 24.0 to 28.0 Metr...  Connecticut
3  Hydraulic Excavator, Track - 28.0 to 33.0 Metr...  Connecticut
4           Wheel Loader - 120.0 to 135.0 Horsepower      Florida

  ProductGroup  ProductGroupDesc Drive_System date_of_sale AgeOfVehicle
0          TEX  Track Excavators          NaN   2012-01-05          NaN
1          TEX  Track Excavators          NaN   2012-01-05          6.0
2          TEX  Track Excavators          NaN   2012-01-05         12.0
3          TEX  Track Excavators          NaN   2012-01-05          NaN
4           WL      Wheel Loader          NaN   2012-01-04         10.0

[5 rows x 22 columns]

In [48]:
print(df_valid.shape)
print(X2.shape)

(11573, 22)
(397122, 21)

In [49]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'date_of_sale',
       'AgeOfVehicle'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'AgeOfVehicle'],
      dtype='object')

In [50]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  10367 non-null  float64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  date_of_sale              11573 non-null  datetime64[ns]
 21  AgeOfVehicle              10367 non-null  float64
dtypes: datetime64[ns](1), float64(3), int16(2), int64(5), int8(11)
memory usage: 983.4 KB

In [51]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(397128, 21)
(11573, 23)

In [51]:
df_valid=df_valid.drop(columns=['date_of_sale'])
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  10367 non-null  float64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  AgeOfVehicle              10367 non-null  float64
dtypes: float64(3), int16(2), int64(5), int8(11)
memory usage: 893.0 KB

In [53]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(397122, 21)
(11573, 21)

In [54]:
print(df_valid.columns)  # List all column names in df_valid
print(X2.columns)  # List all column names in X2

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'AgeOfVehicle'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'AgeOfVehicle'],
      dtype='object')

In [ ]:



# Step 1: Load the entire saved model (both Isolation Forest and main model)
model_data2 = joblib.load('/content/4.2.25_#4.pkl')

# Access the models by index (not by string key)
model2 = model_data2[0]  # RandomForestRegressor
isolation_forest = model_data2[1]  # IsolationForest

# Step 2: Apply Isolation Forest to detect anomalies in new data (df_valid)
outliers_new = isolation_forest.predict(df_valid)  # This will give 1 for normal rows and -1 for anomalies

# Step 3: Add the anomaly column to df_valid (without dropping rows)
df_valid['anomaly'] = outliers_new  # Add the anomaly column

# Step 4: Make predictions using the main model (RandomForestRegressor)
y2_pred_ = model2.predict(df_valid)

# Step 5: Optionally, add the predictions to df_valid
df_valid['y2_pred_'] = y2_pred_

# Step 6: View the predictions (including the anomaly column)
print(df_valid.head())

In [55]:
df_valid_processed = df_valid.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')
df_valid_processed = pd.get_dummies(df_valid_processed, drop_first=True)

# Ensure columns match training features
df_valid_processed = df_valid_processed.reindex(columns=X2.columns, fill_value=0)

In [56]:
# Compute anomaly scores and predictions
df_valid['anomaly_score'] = iso_forest.decision_function(df_valid_processed)
df_valid['anomaly'] = iso_forest.predict(df_valid_processed)

# Map predictions to labels
df_valid['anomaly_label'] = df_valid['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [57]:
# Summary of anomalies
anomaly_counts = df_valid['anomaly_label'].value_counts()
print(anomaly_counts)

# Inspect a few rows with anomalies
anomalies = df_valid[df_valid['anomaly_label'] == 'Anomaly']
print(anomalies.head())

anomaly_label
Normal     10980
Anomaly      593
Name: count, dtype: int64
      SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
1238  4244671    2296307     3176         172             1    1984.0
1242  4244743    2272675     3170         172             1    1987.0
1253  4245354    2290329     3164         172             1    1977.0
1318  4247659    2275573     3112         172             1    1987.0
1373  4249394    2278629     3170         172             1    1988.0

      MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
1238                    7726.0          1        55          449  ...
1242                    6057.0          1        54          443  ...
1253                    2096.0          1        46          439  ...
1318                    7336.0          2        79           53  ...
1373                    4071.0          1        68          443  ...

      ProductSize  fiProductClassDesc  state  ProductGroup  ProductGroupDesc  \
1238           -1                   1     35             0                 0
1242           -1                   1     42             0                 0
1253           -1                   1      4             0                 0
1318           -1                  33      7             2                 2
1373           -1                   1     41             0                 0

      Drive_System  AgeOfVehicle  anomaly_score  anomaly  anomaly_label
1238             3          28.0      -0.003246       -1        Anomaly
1242             3          25.0      -0.000937       -1        Anomaly
1253             3          35.0      -0.011377       -1        Anomaly
1318            -1          25.0      -0.005015       -1        Anomaly
1373             3          24.0      -0.001856       -1        Anomaly

[5 rows x 24 columns]

In [60]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(397128, 21)
(11573, 21)

In [59]:
df_valid=df_valid.drop(columns=['anomaly_score','anomaly','anomaly_label'])
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  10367 non-null  float64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  AgeOfVehicle              10367 non-null  float64
dtypes: float64(3), int16(2), int64(5), int8(11)
memory usage: 893.0 KB

In [ ]:
import joblib
from sklearn.ensemble import IsolationForest


# Step 1: Load the entire saved model (both Isolation Forest and main model)
model_data2 = joblib.load('/content/4.2.25_#3.pkl')

# Access the models by index (not by string key)
model2 = model_data2[0]  # First element in the list (RandomForestRegressor)
isolation_forest = model_data2[1]  # Second element in the list (Isolation Forest model)

#Step 3: Apply Isolation Forest to detect anomalies in new data (new_df)
#outliers_new = isolation_forest.predict(df_valid)

#Step 4: Keep only the normal rows (where prediction is 1)
#new_df_clean = df_valid[outliers_new == 1]

# Step 5: Make predictions using the main model (RandomForestRegressor)
y2_pred_ = model2.predict(df_valid)

# Step 6: Optionally, add the predictions to the cleaned dataframe
df_valid['y2_pred_'] = y2_pred_

# Step 7: View the predictions
print(df_valid.head())

In [ ]:
print(df_valid.shape)

In [ ]:
df_valid.to_csv('clean_pred_V2.csv', index=False)