<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/5_2_25_V6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modify the code : del oll rows with the value 1000 in YearMade

In [1]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-1-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [4]:
df = df[df['YearMade'] != 1000]

In [5]:
print(df.shape)

(362940, 53)

In [6]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   object
 9   saledate                  362940 non-null  object
 10  fiModelDesc               362940 non-null  object
 11  fiBaseModel               362940 non-null  object
 12  fiSecondaryDesc           243134 non-null  object
 13  fiModelSeries             47549 non-null   object
 14  fiModelDescriptor         67535 non-null   object
 15  ProductSize               170537 non-null  object
 16  fiProductClassDesc        362940 non-null  object
 17  state                     362940 non-null  object
 18  ProductGroup              362940 non-null  object
 19  ProductGroupDesc          362940 non-null  object
 20  Drive_System              96786 non-null   object
 21  Enclosure                 362685 non-null  object
 22  Forks                     176871 non-null  object
 23  Pad_Type                  74356 non-null   object
 24  Ride_Control              137408 non-null  object
 25  Stick                     74356 non-null   object
 26  Transmission              168987 non-null  object
 27  Turbocharged              74356 non-null   object
 28  Blade_Extension           22422 non-null   object
 29  Blade_Width               22422 non-null   object
 30  Enclosure_Type            22422 non-null   object
 31  Engine_Horsepower         22422 non-null   object
 32  Hydraulics                287371 non-null  object
 33  Pushblock                 22422 non-null   object
 34  Ripper                    94648 non-null   object
 35  Scarifier                 22433 non-null   object
 36  Tip_Control               22422 non-null   object
 37  Tire_Size                 85463 non-null   object
 38  Coupler                   190892 non-null  object
 39  Coupler_System            39454 non-null   object
 40  Grouser_Tracks            39373 non-null   object
 41  Hydraulics_Flow           39373 non-null   object
 42  Track_Type                87002 non-null   object
 43  Undercarriage_Pad_Width   87522 non-null   object
 44  Stick_Length              87055 non-null   object
 45  Thumb                     87112 non-null   object
 46  Pattern_Changer           87055 non-null   object
 47  Grouser_Type              87002 non-null   object
 48  Backhoe_Mounting          72034 non-null   object
 49  Blade_Type                72900 non-null   object
 50  Travel_Controls           72904 non-null   object
 51  Differential_Type         62983 non-null   object
 52  Steering_Controls         62947 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 149.5+ MB

In [7]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   object
 9   saledate                  362940 non-null  object
 10  fiModelDesc               362940 non-null  object
 11  fiBaseModel               362940 non-null  object
 12  fiSecondaryDesc           243134 non-null  object
 13  fiModelSeries             47549 non-null   object
 14  fiModelDescriptor         67535 non-null   object
 15  ProductSize               170537 non-null  object
 16  fiProductClassDesc        362940 non-null  object
 17  state                     362940 non-null  object
 18  ProductGroup              362940 non-null  object
 19  ProductGroupDesc          362940 non-null  object
 20  Drive_System              96786 non-null   object
 21  Enclosure                 362685 non-null  object
 22  Forks                     176871 non-null  object
 23  Pad_Type                  74356 non-null   object
 24  Ride_Control              137408 non-null  object
 25  Stick                     74356 non-null   object
 26  Transmission              168987 non-null  object
 27  Turbocharged              74356 non-null   object
 28  Blade_Extension           22422 non-null   object
 29  Blade_Width               22422 non-null   object
 30  Enclosure_Type            22422 non-null   object
 31  Engine_Horsepower         22422 non-null   object
 32  Hydraulics                287371 non-null  object
 33  Pushblock                 22422 non-null   object
 34  Ripper                    94648 non-null   object
 35  Scarifier                 22433 non-null   object
 36  Tip_Control               22422 non-null   object
 37  Tire_Size                 85463 non-null   object
 38  Coupler                   190892 non-null  object
 39  Coupler_System            39454 non-null   object
 40  Grouser_Tracks            39373 non-null   object
 41  Hydraulics_Flow           39373 non-null   object
 42  Track_Type                87002 non-null   object
 43  Undercarriage_Pad_Width   87522 non-null   object
 44  Stick_Length              87055 non-null   object
 45  Thumb                     87112 non-null   object
 46  Pattern_Changer           87055 non-null   object
 47  Grouser_Type              87002 non-null   object
 48  Backhoe_Mounting          72034 non-null   object
 49  Blade_Type                72900 non-null   object
 50  Travel_Controls           72904 non-null   object
 51  Differential_Type         62983 non-null   object
 52  Steering_Controls         62947 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 149.5+ MB

In [9]:
print(df2.shape)

(362940, 53)

In [10]:
import numpy as np
import pandas as pd

# Convert 'date_of_sale' to datetime format
df2['date_of_sale'] = pd.to_datetime(df2['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Set 'YearMade' to NaN if it's 1000
df2['YearMade'] = np.where(df2['YearMade'] == 1000, np.nan, df2['YearMade'])

# Add AgeOfVehicle column, with a condition to handle YearMade being NaN
df2['AgeOfVehicle'] = np.where(df2['YearMade'].isna(), np.nan, df2['date_of_sale'].dt.year - df2['YearMade'])

# Display the first few rows of the updated DataFrame
print(df2.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0    2004.0
1  1139248      57000     117657       77         121           3.0    1996.0
2  1139249      10000     434808     7009         121           3.0    2001.0
3  1139251      38500    1026470      332         121           3.0    2001.0
4  1139253      11000    1057373    17311         121           3.0    2007.0

   MachineHoursCurrentMeter UsageBand         saledate  ... Thumb  \
0                      68.0       Low  11/16/2006 0:00  ...   NaN
1                    4640.0       Low   3/26/2004 0:00  ...   NaN
2                    2838.0      High   2/26/2004 0:00  ...   NaN
3                    3486.0      High   5/19/2011 0:00  ...   NaN
4                     722.0    Medium   7/23/2009 0:00  ...   NaN

  Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0             NaN          NaN              NaN        NaN             NaN
1             NaN          NaN              NaN        NaN             NaN
2             NaN          NaN              NaN        NaN             NaN
3             NaN          NaN              NaN        NaN             NaN
4             NaN          NaN              NaN        NaN             NaN

  Differential_Type Steering_Controls date_of_sale AgeOfVehicle
0          Standard      Conventional   2006-11-16          2.0
1          Standard      Conventional   2004-03-26          8.0
2               NaN               NaN   2004-02-26          3.0
3               NaN               NaN   2011-05-19         10.0
4               NaN               NaN   2009-07-23          2.0

[5 rows x 55 columns]

In [11]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  float64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   category
 9   saledate                  362940 non-null  category
 10  fiModelDesc               362940 non-null  category
 11  fiBaseModel               362940 non-null  category
 12  fiSecondaryDesc           243134 non-null  category
 13  fiModelSeries             47549 non-null   category
 14  fiModelDescriptor         67535 non-null   category
 15  ProductSize               170537 non-null  category
 16  fiProductClassDesc        362940 non-null  category
 17  state                     362940 non-null  category
 18  ProductGroup              362940 non-null  category
 19  ProductGroupDesc          362940 non-null  category
 20  Drive_System              96786 non-null   category
 21  Enclosure                 362685 non-null  category
 22  Forks                     176871 non-null  category
 23  Pad_Type                  74356 non-null   category
 24  Ride_Control              137408 non-null  category
 25  Stick                     74356 non-null   category
 26  Transmission              168987 non-null  category
 27  Turbocharged              74356 non-null   category
 28  Blade_Extension           22422 non-null   category
 29  Blade_Width               22422 non-null   category
 30  Enclosure_Type            22422 non-null   category
 31  Engine_Horsepower         22422 non-null   category
 32  Hydraulics                287371 non-null  category
 33  Pushblock                 22422 non-null   category
 34  Ripper                    94648 non-null   category
 35  Scarifier                 22433 non-null   category
 36  Tip_Control               22422 non-null   category
 37  Tire_Size                 85463 non-null   category
 38  Coupler                   190892 non-null  category
 39  Coupler_System            39454 non-null   category
 40  Grouser_Tracks            39373 non-null   category
 41  Hydraulics_Flow           39373 non-null   category
 42  Track_Type                87002 non-null   category
 43  Undercarriage_Pad_Width   87522 non-null   category
 44  Stick_Length              87055 non-null   category
 45  Thumb                     87112 non-null   category
 46  Pattern_Changer           87055 non-null   category
 47  Grouser_Type              87002 non-null   category
 48  Backhoe_Mounting          72034 non-null   category
 49  Blade_Type                72900 non-null   category
 50  Travel_Controls           72904 non-null   category
 51  Differential_Type         62983 non-null   category
 52  Steering_Controls         62947 non-null   category
 53  date_of_sale              362940 non-null  datetime64[ns]
 54  AgeOfVehicle              362940 non-null  float64
dtypes: category(45), datetime64[ns](1), float64(4), int64(5)
memory usage: 48.2 MB
<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  float64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 362940 non-null  int8
 9   saledate                  362940 non-null  int16
 10  fiModelDesc               362940 non-null  int16
 11  fiBaseModel               362940 non-null  int16
 12  fiSecondaryDesc           362940 non-null  int16
 13  fiModelSeries             362940 non-null  int8
 14  fiModelDescriptor         362940 non-null  int16
 15  ProductSize               362940 non-null  int8
 16  fiProductClassDesc        362940 non-null  int8
 17  state                     362940 non-null  int8
 18  ProductGroup              362940 non-null  int8
 19  ProductGroupDesc          362940 non-null  int8
 20  Drive_System              362940 non-null  int8
 21  Enclosure                 362940 non-null  int8
 22  Forks                     362940 non-null  int8
 23  Pad_Type                  362940 non-null  int8
 24  Ride_Control              362940 non-null  int8
 25  Stick                     362940 non-null  int8
 26  Transmission              362940 non-null  int8
 27  Turbocharged              362940 non-null  int8
 28  Blade_Extension           362940 non-null  int8
 29  Blade_Width               362940 non-null  int8
 30  Enclosure_Type            362940 non-null  int8
 31  Engine_Horsepower         362940 non-null  int8
 32  Hydraulics                362940 non-null  int8
 33  Pushblock                 362940 non-null  int8
 34  Ripper                    362940 non-null  int8
 35  Scarifier                 362940 non-null  int8
 36  Tip_Control               362940 non-null  int8
 37  Tire_Size                 362940 non-null  int8
 38  Coupler                   362940 non-null  int8
 39  Coupler_System            362940 non-null  int8
 40  Grouser_Tracks            362940 non-null  int8
 41  Hydraulics_Flow           362940 non-null  int8
 42  Track_Type                362940 non-null  int8
 43  Undercarriage_Pad_Width   362940 non-null  int8
 44  Stick_Length              362940 non-null  int8
 45  Thumb                     362940 non-null  int8
 46  Pattern_Changer           362940 non-null  int8
 47  Grouser_Type              362940 non-null  int8
 48  Backhoe_Mounting          362940 non-null  int8
 49  Blade_Type                362940 non-null  int8
 50  Travel_Controls           362940 non-null  int8
 51  Differential_Type         362940 non-null  int8
 52  Steering_Controls         362940 non-null  int8
 53  date_of_sale              362940 non-null  datetime64[ns]
 54  AgeOfVehicle              362940 non-null  float64
dtypes: datetime64[ns](1), float64(4), int16(5), int64(5), int8(40)
memory usage: 47.8 MB

In [12]:
# create X and y
X = df2.drop(columns='SalePrice')
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004.0,68.0,1,657,902,...,-1,-1,-1,-1,-1,-1,3,1,2006-11-16,2.0
1,1139248,117657,77,121,3.0,1996.0,4640.0,1,1694,1631,...,-1,-1,-1,-1,-1,-1,3,1,2004-03-26,8.0
2,1139249,434808,7009,121,3.0,2001.0,2838.0,0,1361,308,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3.0
3,1139251,1026470,332,121,3.0,2001.0,3486.0,0,2357,3375,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10.0
4,1139253,1057373,17311,121,3.0,2007.0,722.0,2,3133,3854,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2.0

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 362940, dtype: int64

In [13]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
161986,1583395,1339851,7944,132,1.0,1997.0,NaN,-1,2683,53,...,2,1,0,-1,-1,-1,-1,-1,2009-06-17,12.0
313625,2277420,64812,1561,136,NaN,1992.0,0.0,-1,3280,2024,...,-1,-1,-1,0,5,5,-1,-1,2008-08-15,16.0
159757,1578605,1458301,4799,132,1.0,1990.0,NaN,-1,952,1275,...,-1,-1,-1,-1,-1,-1,3,1,2005-12-14,15.0
115160,1452096,1337416,3854,132,19.0,1972.0,NaN,-1,3089,1653,...,-1,-1,-1,-1,-1,-1,3,1,2006-07-19,34.0
309031,2263283,1338987,2751,136,1.0,1993.0,0.0,-1,3542,2006,...,-1,-1,-1,0,5,5,-1,-1,2007-09-11,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125971,1472993,1418199,7511,132,9.0,1990.0,NaN,-1,1304,2302,...,2,1,0,-1,-1,-1,-1,-1,2001-02-21,11.0
285000,2195809,1719939,3176,136,1.0,1986.0,0.0,-1,3712,1012,...,-1,-1,-1,-1,-1,-1,-1,-1,2008-09-23,22.0
138024,1497913,1498308,77,132,2.0,1994.0,NaN,-1,3234,1631,...,-1,-1,-1,-1,-1,-1,3,1,2001-08-10,7.0
152959,1532467,1401019,7052,132,2.0,1994.0,NaN,-1,3683,443,...,2,1,0,-1,-1,-1,-1,-1,2002-09-21,8.0
128050,1476173,1157760,7277,132,1.0,1977.0,NaN,-1,1606,1625,...,-1,-1,-1,-1,-1,-1,3,1,2002-03-20,25.0

In [14]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23344.73278840669

In [15]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice','date_of_sale','MachineHoursCurrentMeter'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004.0,1,657,902,284,...,-1,-1,-1,-1,-1,-1,-1,3,1,2.0
1,1139248,117657,77,121,3.0,1996.0,1,1694,1631,503,...,-1,-1,-1,-1,-1,-1,-1,3,1,8.0
2,1139249,434808,7009,121,3.0,2001.0,0,1361,308,105,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3.0
3,1139251,1026470,332,121,3.0,2001.0,0,2357,3375,1267,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10.0
4,1139253,1057373,17311,121,3.0,2007.0,2,3133,3854,1402,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2.0

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 362940, dtype: int64

In [16]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,UsageBand,saledate,fiModelDesc,fiBaseModel,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,AgeOfVehicle
161986,1583395,1339851,7944,132,1.0,1997.0,-1,2683,53,17,...,27,2,1,0,-1,-1,-1,-1,-1,12.0
313625,2277420,64812,1561,136,NaN,1992.0,-1,3280,2024,652,...,-1,-1,-1,-1,0,5,5,-1,-1,16.0
159757,1578605,1458301,4799,132,1.0,1990.0,-1,952,1275,382,...,-1,-1,-1,-1,-1,-1,-1,3,1,15.0
115160,1452096,1337416,3854,132,19.0,1972.0,-1,3089,1653,509,...,-1,-1,-1,-1,-1,-1,-1,3,1,34.0
309031,2263283,1338987,2751,136,1.0,1993.0,-1,3542,2006,652,...,-1,-1,-1,-1,0,5,5,-1,-1,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125971,1472993,1418199,7511,132,9.0,1990.0,-1,1304,2302,717,...,27,2,1,0,-1,-1,-1,-1,-1,11.0
285000,2195809,1719939,3176,136,1.0,1986.0,-1,3712,1012,310,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,22.0
138024,1497913,1498308,77,132,2.0,1994.0,-1,3234,1631,503,...,-1,-1,-1,-1,-1,-1,-1,3,1,7.0
152959,1532467,1401019,7052,132,2.0,1994.0,-1,3683,443,165,...,27,2,1,0,-1,-1,-1,-1,-1,8.0
128050,1476173,1157760,7277,132,1.0,1977.0,-1,1606,1625,503,...,-1,-1,-1,-1,-1,-1,-1,3,1,25.0

In [17]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23344.73278840669

In [18]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2746.517
Test RMSE: 7248.928

In [19]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [20]:
df2.anomaly.value_counts()

anomaly
 1    359314
-1      3626
Name: count, dtype: int64

In [21]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004.0,68.0,1,657,...,-1,-1,-1,3,1,2006-11-16,2.0,0.105923,1,Normal
1,1139248,57000,117657,77,121,3.0,1996.0,4640.0,1,1694,...,-1,-1,-1,3,1,2004-03-26,8.0,0.088861,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001.0,2838.0,0,1361,...,-1,-1,-1,-1,-1,2004-02-26,3.0,0.113766,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001.0,3486.0,0,2357,...,-1,-1,-1,-1,-1,2011-05-19,10.0,0.097786,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007.0,722.0,2,3133,...,-1,-1,-1,-1,-1,2009-07-23,2.0,0.057563,1,Normal

In [22]:
print(df3.shape)

(362940, 58)

In [23]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2656.443
Test RMSE: 2648.190

In [24]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#5.pkl')

['/content/4.2.25_#5.pkl']

In [25]:

df_valid = pd.read_csv("Valid.csv")

In [26]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  object
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
 20  Enclosure                 11564 non-null  object
 21  Forks                     5638 non-null   object
 22  Pad_Type                  1962 non-null   object
 23  Ride_Control              4122 non-null   object
 24  Stick                     1962 non-null   object
 25  Transmission              4777 non-null   object
 26  Turbocharged              1962 non-null   object
 27  Blade_Extension           764 non-null    object
 28  Blade_Width               764 non-null    object
 29  Enclosure_Type            764 non-null    object
 30  Engine_Horsepower         764 non-null    object
 31  Hydraulics                9563 non-null   object
 32  Pushblock                 764 non-null    object
 33  Ripper                    2808 non-null   object
 34  Scarifier                 764 non-null    object
 35  Tip_Control               764 non-null    object
 36  Tire_Size                 2920 non-null   object
 37  Coupler                   6727 non-null   object
 38  Coupler_System            1516 non-null   object
 39  Grouser_Tracks            1513 non-null   object
 40  Hydraulics_Flow           1513 non-null   object
 41  Track_Type                3040 non-null   object
 42  Undercarriage_Pad_Width   3044 non-null   object
 43  Stick_Length              3043 non-null   object
 44  Thumb                     3044 non-null   object
 45  Pattern_Changer           3043 non-null   object
 46  Grouser_Type              3040 non-null   object
 47  Backhoe_Mounting          2040 non-null   object
 48  Blade_Type                2042 non-null   object
 49  Travel_Controls           2043 non-null   object
 50  Differential_Type         2153 non-null   object
 51  Steering_Controls         2153 non-null   object
dtypes: float64(1), int64(6), object(45)
memory usage: 4.6+ MB

In [27]:
import numpy as np


# Convert 'date_of_sale' to datetime format
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Set 'YearMade' to NaN if it's 1000
df_valid['YearMade'] = np.where(df_valid['YearMade'] == 1000, np.nan, df_valid['YearMade'])

# Add AgeOfVehicle column, with a condition to handle YearMade being NaN
df_valid['AgeOfVehicle'] = np.where(df_valid['YearMade'].isna(), np.nan, df_valid['date_of_sale'].dt.year - df_valid['YearMade'])

# Display the first few rows of the updated DataFrame
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3       NaN
1  1222839    1048320    36526         121             3    2006.0
2  1222841     999308     4587         121             3    2000.0
3  1222843    1062425     1954         121             3       NaN
4  1222845    1032841     4701         121             3    2002.0

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

                 Thumb      Pattern_Changer Grouser_Type Backhoe_Mounting  \
0  None or Unspecified  None or Unspecified       Double              NaN
1  None or Unspecified                  Yes       Double              NaN
2  None or Unspecified  None or Unspecified       Double              NaN
3  None or Unspecified  None or Unspecified       Double              NaN
4                  NaN                  NaN          NaN              NaN

  Blade_Type Travel_Controls Differential_Type Steering_Controls date_of_sale  \
0        NaN             NaN               NaN               NaN   2012-01-05
1        NaN             NaN               NaN               NaN   2012-01-05
2        NaN             NaN               NaN               NaN   2012-01-05
3        NaN             NaN               NaN               NaN   2012-01-05
4        NaN             NaN          Standard      Conventional   2012-01-04

  AgeOfVehicle
0          NaN
1          6.0
2         12.0
3          NaN
4         10.0

[5 rows x 54 columns]

In [28]:
print(df_valid.shape)
print(X2.shape)

(11573, 54)
(359314, 53)

In [29]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale',
       'AgeOfVehicle'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'AgeOfVehicle'],
      dtype='object')

In [30]:



for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  10367 non-null  float64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Blade_Extension           11573 non-null  int8
 28  Blade_Width               11573 non-null  int8
 29  Enclosure_Type            11573 non-null  int8
 30  Engine_Horsepower         11573 non-null  int8
 31  Hydraulics                11573 non-null  int8
 32  Pushblock                 11573 non-null  int8
 33  Ripper                    11573 non-null  int8
 34  Scarifier                 11573 non-null  int8
 35  Tip_Control               11573 non-null  int8
 36  Tire_Size                 11573 non-null  int8
 37  Coupler                   11573 non-null  int8
 38  Coupler_System            11573 non-null  int8
 39  Grouser_Tracks            11573 non-null  int8
 40  Hydraulics_Flow           11573 non-null  int8
 41  Track_Type                11573 non-null  int8
 42  Undercarriage_Pad_Width   11573 non-null  int8
 43  Stick_Length              11573 non-null  int8
 44  Thumb                     11573 non-null  int8
 45  Pattern_Changer           11573 non-null  int8
 46  Grouser_Type              11573 non-null  int8
 47  Backhoe_Mounting          11573 non-null  int8
 48  Blade_Type                11573 non-null  int8
 49  Travel_Controls           11573 non-null  int8
 50  Differential_Type         11573 non-null  int8
 51  Steering_Controls         11573 non-null  int8
 52  date_of_sale              11573 non-null  datetime64[ns]
 53  AgeOfVehicle              10367 non-null  float64
dtypes: datetime64[ns](1), float64(3), int16(2), int64(5), int8(43)
memory usage: 1.3 MB

In [31]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(359314, 53)
(11573, 54)

In [32]:
df_valid=df_valid.drop(columns=['date_of_sale'])
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  10367 non-null  float64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Blade_Extension           11573 non-null  int8
 28  Blade_Width               11573 non-null  int8
 29  Enclosure_Type            11573 non-null  int8
 30  Engine_Horsepower         11573 non-null  int8
 31  Hydraulics                11573 non-null  int8
 32  Pushblock                 11573 non-null  int8
 33  Ripper                    11573 non-null  int8
 34  Scarifier                 11573 non-null  int8
 35  Tip_Control               11573 non-null  int8
 36  Tire_Size                 11573 non-null  int8
 37  Coupler                   11573 non-null  int8
 38  Coupler_System            11573 non-null  int8
 39  Grouser_Tracks            11573 non-null  int8
 40  Hydraulics_Flow           11573 non-null  int8
 41  Track_Type                11573 non-null  int8
 42  Undercarriage_Pad_Width   11573 non-null  int8
 43  Stick_Length              11573 non-null  int8
 44  Thumb                     11573 non-null  int8
 45  Pattern_Changer           11573 non-null  int8
 46  Grouser_Type              11573 non-null  int8
 47  Backhoe_Mounting          11573 non-null  int8
 48  Blade_Type                11573 non-null  int8
 49  Travel_Controls           11573 non-null  int8
 50  Differential_Type         11573 non-null  int8
 51  Steering_Controls         11573 non-null  int8
 52  AgeOfVehicle              10367 non-null  float64
dtypes: float64(3), int16(2), int64(5), int8(43)
memory usage: 1.2 MB

In [35]:
df_valid_processed = df_valid.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')
df_valid_processed = pd.get_dummies(df_valid_processed, drop_first=True)

# Ensure columns match training features
df_valid_processed = df_valid_processed.reindex(columns=X2.columns, fill_value=0)

In [36]:
# Ensure the columns in df_valid_processed match those in X2 (same features, same order)
df_valid_processed = df_valid_processed.reindex(columns=X2.columns, fill_value=0)

In [38]:
df_valid_processed = df_valid_processed.drop(columns=['MachineHoursCurrentMeter'], errors='ignore')

In [39]:
# Compute anomaly scores and predictions
df_valid['anomaly_score'] = iso_forest.decision_function(df_valid_processed)
df_valid['anomaly'] = iso_forest.predict(df_valid_processed)

# Map predictions to labels
df_valid['anomaly_label'] = df_valid['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [37]:
missing_columns = set(X2.columns) - set(df_valid_processed.columns)
print(f"Missing columns: {missing_columns}")

Missing columns: set()

In [40]:
print(X2.shape)

(359314, 53)

In [41]:
from sklearn.ensemble import IsolationForest

# Compute anomaly scores and predictions for df_valid_processed
df_valid['anomaly_score'] = iso_forest.decision_function(df_valid_processed)
df_valid['anomaly'] = iso_forest.predict(df_valid_processed)

# Map anomaly predictions to labels (Normal/Anomaly)
df_valid['anomaly_label'] = df_valid['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# If you want to exclude anomalies, filter for normal rows only
df_valid_normal = df_valid[df_valid['anomaly'] == 1]

# Prepare the features for prediction
X_valid = df_valid.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'SalesID', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding (if necessary) and ensure it matches the training features
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid
df_valid['y_pred'] = y_pred

# View the results
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3       NaN
1  1222839    1048320    36526         121             3    2006.0
2  1222841     999308     4587         121             3    2000.0
3  1222843    1062425     1954         121             3       NaN
4  1222845    1032841     4701         121             3    2002.0

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Backhoe_Mounting  Blade_Type  Travel_Controls  Differential_Type  \
0                -1          -1               -1                 -1
1                -1          -1               -1                 -1
2                -1          -1               -1                 -1
3                -1          -1               -1                 -1
4                -1          -1               -1                  2

   Steering_Controls  AgeOfVehicle  anomaly_score  anomaly  anomaly_label  \
0                 -1           NaN       0.113900        1         Normal
1                 -1           6.0       0.054266        1         Normal
2                 -1          12.0       0.077066        1         Normal
3                 -1           NaN       0.093780        1         Normal
4                  1          10.0       0.089007        1         Normal

    y_pred
0  52065.0
1  65735.0
2  31147.5
3  35320.0
4  27227.5

[5 rows x 57 columns]

In [42]:
df_valid.to_csv('clean_pred_V6.csv', index=False)