<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/7_2_25V20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drop all col that missing value >90% as well as col with YearMade=1000 and Train 0.8 Test 0.2

In [47]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-47-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [48]:
missing_data = df.isna().sum()
print(missing_data[missing_data>0])

auctioneerID                 20136
MachineHoursCurrentMeter    258360
UsageBand                   331486
fiSecondaryDesc             137191
fiModelSeries               344217
fiModelDescriptor           329206
ProductSize                 210775
Drive_System                296764
Enclosure                      325
Forks                       209048
Pad_Type                    321991
Ride_Control                252519
Stick                       321991
Transmission                217895
Turbocharged                321991
Blade_Extension             375906
Blade_Width                 375906
Enclosure_Type              375906
Engine_Horsepower           375906
Hydraulics                   80555
Pushblock                   375906
Ripper                      296988
Scarifier                   375895
Tip_Control                 375906
Tire_Size                   306407
Coupler                     187173
Coupler_System              357667
Grouser_Tracks              357763
Hydraulics_Flow             357763
Track_Type                  301972
Undercarriage_Pad_Width     301253
Stick_Length                301907
Thumb                       301837
Pattern_Changer             301907
Grouser_Type                301972
Backhoe_Mounting            322453
Blade_Type                  321292
Travel_Controls             321291
Differential_Type           331714
Steering_Controls           331756
dtype: int64

In [49]:
missing_percentages = (df.isna().sum() / len(df)) * 100
missing_percentages_sorted=missing_percentages[missing_percentages>0].sort_values(ascending=False)
print(missing_percentages_sorted)

Pushblock                   93.712932
Blade_Extension             93.712932
Tip_Control                 93.712932
Engine_Horsepower           93.712932
Enclosure_Type              93.712932
Blade_Width                 93.712932
Scarifier                   93.710190
Hydraulics_Flow             89.189903
Grouser_Tracks              89.189903
Coupler_System              89.165971
fiModelSeries               85.812901
Steering_Controls           82.706388
Differential_Type           82.695918
UsageBand                   82.639078
fiModelDescriptor           82.070676
Backhoe_Mounting            80.387161
Stick                       80.271985
Pad_Type                    80.271985
Turbocharged                80.271985
Blade_Type                  80.097725
Travel_Controls             80.097476
Tire_Size                   76.386912
Grouser_Type                75.281271
Track_Type                  75.281271
Stick_Length                75.265067
Pattern_Changer             75.265067
Thumb                       75.247616
Undercarriage_Pad_Width     75.102026
Ripper                      74.038766
Drive_System                73.982923
MachineHoursCurrentMeter    64.408850
Ride_Control                62.952696
Transmission                54.320972
ProductSize                 52.545964
Forks                       52.115425
Coupler                     46.662013
fiSecondaryDesc             34.201558
Hydraulics                  20.082269
auctioneerID                 5.019882
Enclosure                    0.081022
dtype: float64

In [50]:
col_to_drop=missing_percentages_sorted[missing_percentages_sorted>90].index
df=df.drop(columns=col_to_drop)
print(col_to_drop)

Index(['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'],
      dtype='object')

In [51]:
df = df[df['YearMade'] != 1000]

In [52]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [53]:
print(df.shape)

(362940, 46)

In [54]:
import numpy as np

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df['date_of_sale'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df['CarAge'] = df.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)
df.drop(columns=['date_of_sale'], inplace=True)
# View the updated dataframe
print(df.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0      2004
1  1139248      57000     117657       77         121           3.0      1996
2  1139249      10000     434808     7009         121           3.0      2001
3  1139251      38500    1026470      332         121           3.0      2001
4  1139253      11000    1057373    17311         121           3.0      2007

   MachineHoursCurrentMeter UsageBand         saledate  ... Stick_Length  \
0                      68.0       Low  11/16/2006 0:00  ...          NaN
1                    4640.0       Low   3/26/2004 0:00  ...          NaN
2                    2838.0      High   2/26/2004 0:00  ...          NaN
3                    3486.0      High   5/19/2011 0:00  ...          NaN
4                     722.0    Medium   7/23/2009 0:00  ...          NaN

  Thumb Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type  \
0   NaN             NaN          NaN              NaN        NaN
1   NaN             NaN          NaN              NaN        NaN
2   NaN             NaN          NaN              NaN        NaN
3   NaN             NaN          NaN              NaN        NaN
4   NaN             NaN          NaN              NaN        NaN

  Travel_Controls Differential_Type Steering_Controls CarAge
0             NaN          Standard      Conventional      2
1             NaN          Standard      Conventional      8
2             NaN               NaN               NaN      3
3             NaN               NaN               NaN     10
4             NaN               NaN               NaN      2

[5 rows x 47 columns]

In [55]:
print(df.shape)

(362940, 47)

In [56]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   object
 9   saledate                  362940 non-null  object
 10  fiModelDesc               362940 non-null  object
 11  fiBaseModel               362940 non-null  object
 12  fiSecondaryDesc           243134 non-null  object
 13  fiModelSeries             47549 non-null   object
 14  fiModelDescriptor         67535 non-null   object
 15  ProductSize               170537 non-null  object
 16  fiProductClassDesc        362940 non-null  object
 17  state                     362940 non-null  object
 18  ProductGroup              362940 non-null  object
 19  ProductGroupDesc          362940 non-null  object
 20  Drive_System              96786 non-null   object
 21  Enclosure                 362685 non-null  object
 22  Forks                     176871 non-null  object
 23  Pad_Type                  74356 non-null   object
 24  Ride_Control              137408 non-null  object
 25  Stick                     74356 non-null   object
 26  Transmission              168987 non-null  object
 27  Turbocharged              74356 non-null   object
 28  Hydraulics                287371 non-null  object
 29  Ripper                    94648 non-null   object
 30  Tire_Size                 85463 non-null   object
 31  Coupler                   190892 non-null  object
 32  Coupler_System            39454 non-null   object
 33  Grouser_Tracks            39373 non-null   object
 34  Hydraulics_Flow           39373 non-null   object
 35  Track_Type                87002 non-null   object
 36  Undercarriage_Pad_Width   87522 non-null   object
 37  Stick_Length              87055 non-null   object
 38  Thumb                     87112 non-null   object
 39  Pattern_Changer           87055 non-null   object
 40  Grouser_Type              87002 non-null   object
 41  Backhoe_Mounting          72034 non-null   object
 42  Blade_Type                72900 non-null   object
 43  Travel_Controls           72904 non-null   object
 44  Differential_Type         62983 non-null   object
 45  Steering_Controls         62947 non-null   object
 46  CarAge                    362940 non-null  int64
dtypes: float64(2), int64(7), object(38)
memory usage: 132.9+ MB

In [57]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,8
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [58]:
print(df2.shape)

(362940, 47)

In [59]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   category
 9   saledate                  362940 non-null  category
 10  fiModelDesc               362940 non-null  category
 11  fiBaseModel               362940 non-null  category
 12  fiSecondaryDesc           243134 non-null  category
 13  fiModelSeries             47549 non-null   category
 14  fiModelDescriptor         67535 non-null   category
 15  ProductSize               170537 non-null  category
 16  fiProductClassDesc        362940 non-null  category
 17  state                     362940 non-null  category
 18  ProductGroup              362940 non-null  category
 19  ProductGroupDesc          362940 non-null  category
 20  Drive_System              96786 non-null   category
 21  Enclosure                 362685 non-null  category
 22  Forks                     176871 non-null  category
 23  Pad_Type                  74356 non-null   category
 24  Ride_Control              137408 non-null  category
 25  Stick                     74356 non-null   category
 26  Transmission              168987 non-null  category
 27  Turbocharged              74356 non-null   category
 28  Hydraulics                287371 non-null  category
 29  Ripper                    94648 non-null   category
 30  Tire_Size                 85463 non-null   category
 31  Coupler                   190892 non-null  category
 32  Coupler_System            39454 non-null   category
 33  Grouser_Tracks            39373 non-null   category
 34  Hydraulics_Flow           39373 non-null   category
 35  Track_Type                87002 non-null   category
 36  Undercarriage_Pad_Width   87522 non-null   category
 37  Stick_Length              87055 non-null   category
 38  Thumb                     87112 non-null   category
 39  Pattern_Changer           87055 non-null   category
 40  Grouser_Type              87002 non-null   category
 41  Backhoe_Mounting          72034 non-null   category
 42  Blade_Type                72900 non-null   category
 43  Travel_Controls           72904 non-null   category
 44  Differential_Type         62983 non-null   category
 45  Steering_Controls         62947 non-null   category
 46  CarAge                    362940 non-null  int64
dtypes: category(38), float64(2), int64(7)
memory usage: 43.0 MB
<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 362940 non-null  int8
 9   saledate                  362940 non-null  int16
 10  fiModelDesc               362940 non-null  int16
 11  fiBaseModel               362940 non-null  int16
 12  fiSecondaryDesc           362940 non-null  int16
 13  fiModelSeries             362940 non-null  int8
 14  fiModelDescriptor         362940 non-null  int16
 15  ProductSize               362940 non-null  int8
 16  fiProductClassDesc        362940 non-null  int8
 17  state                     362940 non-null  int8
 18  ProductGroup              362940 non-null  int8
 19  ProductGroupDesc          362940 non-null  int8
 20  Drive_System              362940 non-null  int8
 21  Enclosure                 362940 non-null  int8
 22  Forks                     362940 non-null  int8
 23  Pad_Type                  362940 non-null  int8
 24  Ride_Control              362940 non-null  int8
 25  Stick                     362940 non-null  int8
 26  Transmission              362940 non-null  int8
 27  Turbocharged              362940 non-null  int8
 28  Hydraulics                362940 non-null  int8
 29  Ripper                    362940 non-null  int8
 30  Tire_Size                 362940 non-null  int8
 31  Coupler                   362940 non-null  int8
 32  Coupler_System            362940 non-null  int8
 33  Grouser_Tracks            362940 non-null  int8
 34  Hydraulics_Flow           362940 non-null  int8
 35  Track_Type                362940 non-null  int8
 36  Undercarriage_Pad_Width   362940 non-null  int8
 37  Stick_Length              362940 non-null  int8
 38  Thumb                     362940 non-null  int8
 39  Pattern_Changer           362940 non-null  int8
 40  Grouser_Type              362940 non-null  int8
 41  Backhoe_Mounting          362940 non-null  int8
 42  Blade_Type                362940 non-null  int8
 43  Travel_Controls           362940 non-null  int8
 44  Differential_Type         362940 non-null  int8
 45  Steering_Controls         362940 non-null  int8
 46  CarAge                    362940 non-null  int64
dtypes: float64(2), int16(5), int64(7), int8(33)
memory usage: 42.6 MB

In [60]:
# create X and y
X = df2.drop(columns=['SalePrice'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,657,902,...,-1,-1,-1,-1,-1,-1,-1,3,1,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1694,1631,...,-1,-1,-1,-1,-1,-1,-1,3,1,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1361,308,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2357,3375,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,3133,3854,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 362940, dtype: int64

In [61]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.8)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
33602,1268149,1359099,6742,132,2.0,1989,NaN,-1,1493,790,...,-1,-1,-1,-1,0,5,5,-1,-1,4
272054,1812390,1287985,36033,132,2.0,2004,NaN,-1,1427,3852,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,5
47886,1290326,1158051,3177,132,1.0,1992,NaN,-1,3623,1013,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,17
85837,1388825,883193,3538,132,3.0,2001,NaN,-1,3315,701,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2
258975,1792268,1392248,9548,132,1.0,1984,NaN,-1,3617,1273,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125971,1472993,1418199,7511,132,9.0,1990,NaN,-1,1304,2302,...,27,2,1,0,-1,-1,-1,-1,-1,11
285000,2195809,1719939,3176,136,1.0,1986,0.0,-1,3712,1012,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,22
138024,1497913,1498308,77,132,2.0,1994,NaN,-1,3234,1631,...,-1,-1,-1,-1,-1,-1,-1,3,1,7
152959,1532467,1401019,7052,132,2.0,1994,NaN,-1,3683,443,...,27,2,1,0,-1,-1,-1,-1,-1,8
128050,1476173,1157760,7277,132,1.0,1977,NaN,-1,1606,1625,...,-1,-1,-1,-1,-1,-1,-1,3,1,25

In [62]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23311.863454096372

In [63]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,657,902,...,-1,-1,-1,-1,-1,-1,-1,3,1,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1694,1631,...,-1,-1,-1,-1,-1,-1,-1,3,1,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1361,308,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2357,3375,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,3133,3854,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 362940, dtype: int64

In [64]:
print(df2.shape)

(362940, 47)

In [65]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.2)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
345602,2394378,1738954,16151,136,NaN,2005,0.0,-1,767,1503,...,-1,-1,-1,-1,-1,-1,-1,3,1,2
53999,1300976,1285600,4123,132,1.0,1971,NaN,-1,2210,2128,...,-1,-1,-1,-1,0,4,5,-1,-1,33
359128,2456325,1721509,5892,136,NaN,1997,0.0,-1,740,3085,...,-1,-1,-1,-1,-1,-1,-1,3,1,11
222436,1692515,1078026,2801,132,1.0,2000,NaN,-1,486,2542,...,24,2,1,0,-1,-1,-1,-1,-1,6
171814,1600355,1471069,4572,132,2.0,1998,NaN,-1,3357,128,...,1,1,1,0,-1,-1,-1,-1,-1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125971,1472993,1418199,7511,132,9.0,1990,NaN,-1,1304,2302,...,27,2,1,0,-1,-1,-1,-1,-1,11
285000,2195809,1719939,3176,136,1.0,1986,0.0,-1,3712,1012,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,22
138024,1497913,1498308,77,132,2.0,1994,NaN,-1,3234,1631,...,-1,-1,-1,-1,-1,-1,-1,3,1,7
152959,1532467,1401019,7052,132,2.0,1994,NaN,-1,3683,443,...,27,2,1,0,-1,-1,-1,-1,-1,8
128050,1476173,1157760,7277,132,1.0,1977,NaN,-1,1606,1625,...,-1,-1,-1,-1,-1,-1,-1,3,1,25

In [66]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23423.433213031924

In [67]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 3051.352
Test RMSE: 8059.865

In [68]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [69]:
df2.anomaly.value_counts()

anomaly
 1    359205
-1      3735
Name: count, dtype: int64

In [70]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,657,...,-1,-1,-1,-1,3,1,2,0.069484,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1694,...,-1,-1,-1,-1,3,1,8,0.049092,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,1361,...,-1,-1,-1,-1,-1,-1,3,0.077663,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,2357,...,-1,-1,-1,-1,-1,-1,10,0.074425,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,3133,...,-1,-1,-1,-1,-1,-1,2,0.046853,1,Normal

In [71]:
print(df3.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'anomaly_score',
       'anomaly', 'anomaly_label'],
      dtype='object')

In [72]:
print(df3.shape)

(362940, 50)

In [73]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2646.846
Test RMSE: 2668.025

In [74]:
#

In [75]:

df_valid = pd.read_csv("Valid.csv")

In [76]:
df_valid=df_valid.drop(columns=['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'
       ])
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [77]:
print(df_valid.shape)

(11573, 45)

In [78]:
# Convert 'saledate' to datetime format
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df_valid['CarAge'] = df_valid.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

df_valid.drop(columns=['date_of_sale'], inplace=True)
print(df_valid)

       SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0      1222837     902859     1376         121             3      1000
1      1222839    1048320    36526         121             3      2006
2      1222841     999308     4587         121             3      2000
3      1222843    1062425     1954         121             3      1000
4      1222845    1032841     4701         121             3      2002
...        ...        ...      ...         ...           ...       ...
11568  6333344    1919201    21435         149             2      2005
11569  6333345    1882122    21436         149             2      2005
11570  6333347    1944213    21435         149             2      2005
11571  6333348    1794518    21435         149             2      2006
11572  6333349    1944743    21436         149             2      2006

       MachineHoursCurrentMeter UsageBand        saledate fiModelDesc  ...  \
0                           0.0       NaN   1/5/2012 0:00        375L  ...
1                        4412.0    Medium   1/5/2012 0:00    TX300LC2  ...
2                       10127.0    Medium   1/5/2012 0:00       270LC  ...
3                        4682.0       Low   1/5/2012 0:00      892DLC  ...
4                        8150.0    Medium   1/4/2012 0:00        544H  ...
...                         ...       ...             ...         ...  ...
11568                       NaN       NaN   3/7/2012 0:00        30NX  ...
11569                       NaN       NaN  1/28/2012 0:00       30NX2  ...
11570                       NaN       NaN  1/28/2012 0:00        30NX  ...
11571                       NaN       NaN   3/7/2012 0:00        30NX  ...
11572                       NaN       NaN  1/28/2012 0:00       30NX2  ...

              Stick_Length                Thumb      Pattern_Changer  \
0      None or Unspecified  None or Unspecified  None or Unspecified
1                   12' 4"  None or Unspecified                  Yes
2                   12' 4"  None or Unspecified  None or Unspecified
3      None or Unspecified  None or Unspecified  None or Unspecified
4                      NaN                  NaN                  NaN
...                    ...                  ...                  ...
11568  None or Unspecified  None or Unspecified  None or Unspecified
11569  None or Unspecified  None or Unspecified  None or Unspecified
11570  None or Unspecified  None or Unspecified  None or Unspecified
11571  None or Unspecified  None or Unspecified  None or Unspecified
11572  None or Unspecified  None or Unspecified  None or Unspecified

      Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0           Double              NaN        NaN             NaN
1           Double              NaN        NaN             NaN
2           Double              NaN        NaN             NaN
3           Double              NaN        NaN             NaN
4              NaN              NaN        NaN             NaN
...            ...              ...        ...             ...
11568       Double              NaN        NaN             NaN
11569       Double              NaN        NaN             NaN
11570       Double              NaN        NaN             NaN
11571       Double              NaN        NaN             NaN
11572       Double              NaN        NaN             NaN

      Differential_Type Steering_Controls CarAge
0                   NaN               NaN    NaN
1                   NaN               NaN    6.0
2                   NaN               NaN   12.0
3                   NaN               NaN    NaN
4              Standard      Conventional   10.0
...                 ...               ...    ...
11568               NaN               NaN    7.0
11569               NaN               NaN    7.0
11570               NaN               NaN    7.0
11571               NaN               NaN    6.0
11572               NaN               NaN    6.0

[11573 rows x 46 columns]

In [79]:
print(df_valid.shape)
print(X2.shape)

(11573, 46)
(359205, 46)

In [80]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [81]:

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  CarAge                    10367 non-null  float64
dtypes: float64(2), int16(2), int64(6), int8(36)
memory usage: 1.1 MB

In [82]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(359205, 46)
(11573, 46)

In [83]:
df_valid1=df_valid.copy()
df_valid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  CarAge                    10367 non-null  float64
dtypes: float64(2), int16(2), int64(6), int8(36)
memory usage: 1.1 MB

In [84]:
print(df_valid1.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [85]:
# Step 1: Prepare df_valid1 by dropping unnecessary columns that shouldn't be in the features
df_valid1_processed = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Check the first few rows to verify
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [86]:
# Step 2: Apply one-hot encoding to the processed validation data
df_valid1_processed = pd.get_dummies(df_valid1_processed, drop_first=True)

# Check the first few rows to verify the encoding
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [87]:
# Step 3: Align the columns between the validation set and the training set (X2)
df_valid1_processed = df_valid1_processed.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify the alignment
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [88]:
# Step 4: Compute anomaly scores and predictions for df_valid1_processed
df_valid1['anomaly_score'] = iso_forest.decision_function(df_valid1_processed)
df_valid1['anomaly'] = iso_forest.predict(df_valid1_processed)

# Map anomaly predictions to labels (Normal/Anomaly)
df_valid1['anomaly_label'] = df_valid1['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# Check the first few rows to verify the anomaly scores and predictions
print(df_valid1[['anomaly_score', 'anomaly', 'anomaly_label']].head())

   anomaly_score  anomaly anomaly_label
0       0.061131        1        Normal
1       0.017760        1        Normal
2       0.066010        1        Normal
3       0.063669        1        Normal
4       0.065288        1        Normal

In [89]:
# Step 6: Prepare the features for prediction (drop anomaly-related columns again)
X_valid = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding to match the training set
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify
print(X_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [90]:
# Step 7: Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid1
df_valid1['y_pred'] = y_pred

# Check the first few rows of the validation data with predictions
print(df_valid1[['y_pred']].head())

    y_pred
0  17035.0
1  64155.0
2  30790.5
3  17572.5
4  27410.0

In [91]:
# Step 8: Drop unwanted columns after adding predictions
df_valid1 = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Step 9: Check the resulting DataFrame
print(df_valid1.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  Thumb  \
0                       0.0         -1        19          293  ...      2
1                    4412.0          2        19         1611  ...      2
2                   10127.0          2        19          160  ...      2
3                    4682.0          1        19          686  ...      2
4                    8150.0          2        18          397  ...     -1

   Pattern_Changer  Grouser_Type  Backhoe_Mounting  Blade_Type  \
0                1             0                -1          -1
1                2             0                -1          -1
2                1             0                -1          -1
3                1             0                -1          -1
4               -1            -1                -1          -1

   Travel_Controls  Differential_Type  Steering_Controls  CarAge   y_pred
0               -1                 -1                 -1     NaN  17035.0
1               -1                 -1                 -1     6.0  64155.0
2               -1                 -1                 -1    12.0  30790.5
3               -1                 -1                 -1     NaN  17572.5
4               -1                  2                  1    10.0  27410.0

[5 rows x 47 columns]

In [92]:
df_valid1.to_csv('clean_pred_V22.csv', index=False)