<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/8_2_25_V29_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

filter rows fro year 1995
# Define a parameter grid for RandomizedSearchCV + drop -missing_percentages_sorted>91.

In [160]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-160-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [161]:
# Filter the rows where 'YearMade' is >= 2000
df = df[df['YearMade'] >= 1995]

        SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  \
0       1139246      66000     999089     3157         121           3.0
1       1139248      57000     117657       77         121           3.0
2       1139249      10000     434808     7009         121           3.0
3       1139251      38500    1026470      332         121           3.0
4       1139253      11000    1057373    17311         121           3.0
...         ...        ...        ...      ...         ...           ...
401120  6333336      10500    1840702    21439         149           1.0
401121  6333337      11000    1830472    21439         149           1.0
401122  6333338      11500    1887659    21439         149           1.0
401123  6333341       9000    1903570    21435         149           2.0
401124  6333342       7750    1926965    21435         149           2.0

        YearMade  MachineHoursCurrentMeter UsageBand         saledate  ...  \
0           2004                      68.0       Low  11/16/2006 0:00  ...
1           1996                    4640.0       Low   3/26/2004 0:00  ...
2           2001                    2838.0      High   2/26/2004 0:00  ...
3           2001                    3486.0      High   5/19/2011 0:00  ...
4           2007                     722.0    Medium   7/23/2009 0:00  ...
...          ...                       ...       ...              ...  ...
401120      2005                       NaN       NaN   11/2/2011 0:00  ...
401121      2005                       NaN       NaN   11/2/2011 0:00  ...
401122      2005                       NaN       NaN   11/2/2011 0:00  ...
401123      2005                       NaN       NaN  10/25/2011 0:00  ...
401124      2005                       NaN       NaN  10/25/2011 0:00  ...

       Undercarriage_Pad_Width         Stick_Length                Thumb  \
0                          NaN                  NaN                  NaN
1                          NaN                  NaN                  NaN
2                          NaN                  NaN                  NaN
3                          NaN                  NaN                  NaN
4                          NaN                  NaN                  NaN
...                        ...                  ...                  ...
401120     None or Unspecified  None or Unspecified  None or Unspecified
401121     None or Unspecified  None or Unspecified  None or Unspecified
401122     None or Unspecified  None or Unspecified  None or Unspecified
401123     None or Unspecified  None or Unspecified  None or Unspecified
401124     None or Unspecified  None or Unspecified  None or Unspecified

            Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type  \
0                       NaN          NaN              NaN        NaN
1                       NaN          NaN              NaN        NaN
2                       NaN          NaN              NaN        NaN
3                       NaN          NaN              NaN        NaN
4                       NaN          NaN              NaN        NaN
...                     ...          ...              ...        ...
401120  None or Unspecified       Double              NaN        NaN
401121  None or Unspecified       Double              NaN        NaN
401122  None or Unspecified       Double              NaN        NaN
401123  None or Unspecified       Double              NaN        NaN
401124  None or Unspecified       Double              NaN        NaN

       Travel_Controls Differential_Type Steering_Controls
0                  NaN          Standard      Conventional
1                  NaN          Standard      Conventional
2                  NaN               NaN               NaN
3                  NaN               NaN               NaN
4                  NaN               NaN               NaN
...                ...               ...               ...
401120             NaN               NaN               NaN
401121             NaN               NaN               NaN
401122             NaN               NaN               NaN
401123             NaN               NaN               NaN
401124             NaN               NaN               NaN

[256332 rows x 53 columns]

In [162]:
missing_data = df.isna().sum()
print(missing_data[missing_data>0])

auctioneerID                 15334
MachineHoursCurrentMeter    145235
UsageBand                   195912
fiSecondaryDesc              80867
fiModelSeries               213052
fiModelDescriptor           194989
ProductSize                 138961
Drive_System                191248
Enclosure                      144
Forks                       125976
Pad_Type                    199584
Ride_Control                162852
Stick                       199584
Transmission                149554
Turbocharged                199584
Blade_Extension             248001
Blade_Width                 248001
Enclosure_Type              248001
Engine_Horsepower           248001
Hydraulics                   57529
Pushblock                   248001
Ripper                      206360
Scarifier                   248000
Tip_Control                 248001
Tire_Size                   211359
Coupler                     108392
Coupler_System              219479
Grouser_Tracks              219525
Hydraulics_Flow             219525
Track_Type                  182773
Undercarriage_Pad_Width     182413
Stick_Length                182730
Thumb                       182683
Pattern_Changer             182730
Grouser_Type                182773
Backhoe_Mounting            214757
Blade_Type                  214397
Travel_Controls             214393
Differential_Type           219688
Steering_Controls           219701
dtype: int64

In [163]:
missing_percentages = (df.isna().sum() / len(df)) * 100
missing_percentages_sorted=missing_percentages[missing_percentages>0].sort_values(ascending=False)
print(missing_percentages_sorted)

Pushblock                   96.749918
Blade_Extension             96.749918
Tip_Control                 96.749918
Engine_Horsepower           96.749918
Enclosure_Type              96.749918
Blade_Width                 96.749918
Scarifier                   96.749528
Steering_Controls           85.709549
Differential_Type           85.704477
Hydraulics_Flow             85.640888
Grouser_Tracks              85.640888
Coupler_System              85.622942
Backhoe_Mounting            83.780800
Blade_Type                  83.640357
Travel_Controls             83.638797
fiModelSeries               83.115647
Tire_Size                   82.455175
Ripper                      80.504970
Turbocharged                77.861523
Pad_Type                    77.861523
Stick                       77.861523
UsageBand                   76.429006
fiModelDescriptor           76.068926
Drive_System                74.609491
Track_Type                  71.303232
Grouser_Type                71.303232
Stick_Length                71.286457
Pattern_Changer             71.286457
Thumb                       71.268121
Undercarriage_Pad_Width     71.162789
Ride_Control                63.531670
Transmission                58.343867
MachineHoursCurrentMeter    56.658942
ProductSize                 54.211335
Forks                       49.145639
Coupler                     42.285786
fiSecondaryDesc             31.547758
Hydraulics                  22.443160
auctioneerID                 5.982086
Enclosure                    0.056177
dtype: float64

In [164]:
col_to_drop=missing_percentages_sorted[missing_percentages_sorted>90].index
df=df.drop(columns=col_to_drop)
print(col_to_drop)

Index(['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'],
      dtype='object')

In [165]:
df = df[df['YearMade'] != 1000]

In [166]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [167]:
print(df.shape)

(256332, 46)

In [168]:
import numpy as np

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df['date_of_sale'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df['CarAge'] = df.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0      2004
1  1139248      57000     117657       77         121           3.0      1996
2  1139249      10000     434808     7009         121           3.0      2001
3  1139251      38500    1026470      332         121           3.0      2001
4  1139253      11000    1057373    17311         121           3.0      2007

   MachineHoursCurrentMeter UsageBand         saledate  ... Thumb  \
0                      68.0       Low  11/16/2006 0:00  ...   NaN
1                    4640.0       Low   3/26/2004 0:00  ...   NaN
2                    2838.0      High   2/26/2004 0:00  ...   NaN
3                    3486.0      High   5/19/2011 0:00  ...   NaN
4                     722.0    Medium   7/23/2009 0:00  ...   NaN

  Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0             NaN          NaN              NaN        NaN             NaN
1             NaN          NaN              NaN        NaN             NaN
2             NaN          NaN              NaN        NaN             NaN
3             NaN          NaN              NaN        NaN             NaN
4             NaN          NaN              NaN        NaN             NaN

  Differential_Type Steering_Controls date_of_sale CarAge
0          Standard      Conventional   2006-11-16      2
1          Standard      Conventional   2004-03-26      8
2               NaN               NaN   2004-02-26      3
3               NaN               NaN   2011-05-19     10
4               NaN               NaN   2009-07-23      2

[5 rows x 48 columns]

In [169]:
print(df.shape)

(256332, 48)

In [170]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256332 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   256332 non-null  int64
 1   SalePrice                 256332 non-null  int64
 2   MachineID                 256332 non-null  int64
 3   ModelID                   256332 non-null  int64
 4   datasource                256332 non-null  int64
 5   auctioneerID              240998 non-null  float64
 6   YearMade                  256332 non-null  int64
 7   MachineHoursCurrentMeter  111097 non-null  float64
 8   UsageBand                 60420 non-null   object
 9   saledate                  256332 non-null  object
 10  fiModelDesc               256332 non-null  object
 11  fiBaseModel               256332 non-null  object
 12  fiSecondaryDesc           175465 non-null  object
 13  fiModelSeries             43280 non-null   object
 14  fiModelDescriptor         61343 non-null   object
 15  ProductSize               117371 non-null  object
 16  fiProductClassDesc        256332 non-null  object
 17  state                     256332 non-null  object
 18  ProductGroup              256332 non-null  object
 19  ProductGroupDesc          256332 non-null  object
 20  Drive_System              65084 non-null   object
 21  Enclosure                 256188 non-null  object
 22  Forks                     130356 non-null  object
 23  Pad_Type                  56748 non-null   object
 24  Ride_Control              93480 non-null   object
 25  Stick                     56748 non-null   object
 26  Transmission              106778 non-null  object
 27  Turbocharged              56748 non-null   object
 28  Hydraulics                198803 non-null  object
 29  Ripper                    49972 non-null   object
 30  Tire_Size                 44973 non-null   object
 31  Coupler                   147940 non-null  object
 32  Coupler_System            36853 non-null   object
 33  Grouser_Tracks            36807 non-null   object
 34  Hydraulics_Flow           36807 non-null   object
 35  Track_Type                73559 non-null   object
 36  Undercarriage_Pad_Width   73919 non-null   object
 37  Stick_Length              73602 non-null   object
 38  Thumb                     73649 non-null   object
 39  Pattern_Changer           73602 non-null   object
 40  Grouser_Type              73559 non-null   object
 41  Backhoe_Mounting          41575 non-null   object
 42  Blade_Type                41935 non-null   object
 43  Travel_Controls           41939 non-null   object
 44  Differential_Type         36644 non-null   object
 45  Steering_Controls         36631 non-null   object
 46  date_of_sale              256332 non-null  datetime64[ns]
 47  CarAge                    256332 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(38)
memory usage: 95.8+ MB

In [171]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [172]:
print(df2.shape)

(256332, 48)

In [173]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256332 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   256332 non-null  int64
 1   SalePrice                 256332 non-null  int64
 2   MachineID                 256332 non-null  int64
 3   ModelID                   256332 non-null  int64
 4   datasource                256332 non-null  int64
 5   auctioneerID              240998 non-null  float64
 6   YearMade                  256332 non-null  int64
 7   MachineHoursCurrentMeter  111097 non-null  float64
 8   UsageBand                 60420 non-null   category
 9   saledate                  256332 non-null  category
 10  fiModelDesc               256332 non-null  category
 11  fiBaseModel               256332 non-null  category
 12  fiSecondaryDesc           175465 non-null  category
 13  fiModelSeries             43280 non-null   category
 14  fiModelDescriptor         61343 non-null   category
 15  ProductSize               117371 non-null  category
 16  fiProductClassDesc        256332 non-null  category
 17  state                     256332 non-null  category
 18  ProductGroup              256332 non-null  category
 19  ProductGroupDesc          256332 non-null  category
 20  Drive_System              65084 non-null   category
 21  Enclosure                 256188 non-null  category
 22  Forks                     130356 non-null  category
 23  Pad_Type                  56748 non-null   category
 24  Ride_Control              93480 non-null   category
 25  Stick                     56748 non-null   category
 26  Transmission              106778 non-null  category
 27  Turbocharged              56748 non-null   category
 28  Hydraulics                198803 non-null  category
 29  Ripper                    49972 non-null   category
 30  Tire_Size                 44973 non-null   category
 31  Coupler                   147940 non-null  category
 32  Coupler_System            36853 non-null   category
 33  Grouser_Tracks            36807 non-null   category
 34  Hydraulics_Flow           36807 non-null   category
 35  Track_Type                73559 non-null   category
 36  Undercarriage_Pad_Width   73919 non-null   category
 37  Stick_Length              73602 non-null   category
 38  Thumb                     73649 non-null   category
 39  Pattern_Changer           73602 non-null   category
 40  Grouser_Type              73559 non-null   category
 41  Backhoe_Mounting          41575 non-null   category
 42  Blade_Type                41935 non-null   category
 43  Travel_Controls           41939 non-null   category
 44  Differential_Type         36644 non-null   category
 45  Steering_Controls         36631 non-null   category
 46  date_of_sale              256332 non-null  datetime64[ns]
 47  CarAge                    256332 non-null  int64
dtypes: category(38), datetime64[ns](1), float64(2), int64(7)
memory usage: 32.4 MB
<class 'pandas.core.frame.DataFrame'>
Index: 256332 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   256332 non-null  int64
 1   SalePrice                 256332 non-null  int64
 2   MachineID                 256332 non-null  int64
 3   ModelID                   256332 non-null  int64
 4   datasource                256332 non-null  int64
 5   auctioneerID              240998 non-null  float64
 6   YearMade                  256332 non-null  int64
 7   MachineHoursCurrentMeter  111097 non-null  float64
 8   UsageBand                 256332 non-null  int8
 9   saledate                  256332 non-null  int16
 10  fiModelDesc               256332 non-null  int16
 11  fiBaseModel               256332 non-null  int16
 12  fiSecondaryDesc           256332 non-null  int16
 13  fiModelSeries             256332 non-null  int8
 14  fiModelDescriptor         256332 non-null  int16
 15  ProductSize               256332 non-null  int8
 16  fiProductClassDesc        256332 non-null  int8
 17  state                     256332 non-null  int8
 18  ProductGroup              256332 non-null  int8
 19  ProductGroupDesc          256332 non-null  int8
 20  Drive_System              256332 non-null  int8
 21  Enclosure                 256332 non-null  int8
 22  Forks                     256332 non-null  int8
 23  Pad_Type                  256332 non-null  int8
 24  Ride_Control              256332 non-null  int8
 25  Stick                     256332 non-null  int8
 26  Transmission              256332 non-null  int8
 27  Turbocharged              256332 non-null  int8
 28  Hydraulics                256332 non-null  int8
 29  Ripper                    256332 non-null  int8
 30  Tire_Size                 256332 non-null  int8
 31  Coupler                   256332 non-null  int8
 32  Coupler_System            256332 non-null  int8
 33  Grouser_Tracks            256332 non-null  int8
 34  Hydraulics_Flow           256332 non-null  int8
 35  Track_Type                256332 non-null  int8
 36  Undercarriage_Pad_Width   256332 non-null  int8
 37  Stick_Length              256332 non-null  int8
 38  Thumb                     256332 non-null  int8
 39  Pattern_Changer           256332 non-null  int8
 40  Grouser_Type              256332 non-null  int8
 41  Backhoe_Mounting          256332 non-null  int8
 42  Blade_Type                256332 non-null  int8
 43  Travel_Controls           256332 non-null  int8
 44  Differential_Type         256332 non-null  int8
 45  Steering_Controls         256332 non-null  int8
 46  date_of_sale              256332 non-null  datetime64[ns]
 47  CarAge                    256332 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(5), int64(7), int8(33)
memory usage: 32.0 MB

In [174]:
# create X and y
X = df2.drop(columns=['SalePrice'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,565,752,...,-1,-1,-1,-1,-1,-1,3,1,2006-11-16,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1484,1380,...,-1,-1,-1,-1,-1,-1,3,1,2004-03-26,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1194,234,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2026,2793,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,2691,3233,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 256332, dtype: int64

In [175]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
204700,1644874,1413113,4660,132,1.0,1997,NaN,-1,2452,659,...,-1,-1,-1,-1,-1,-1,3,1,2000-06-28,3
179368,1611586,1435036,4701,132,2.0,2000,NaN,-1,1264,770,...,-1,-1,-1,-1,-1,-1,3,1,2007-02-08,7
288146,2204315,1650360,3199,136,NaN,1994,4462.0,1,1712,892,...,-1,-1,-1,-1,-1,-1,3,1,2008-04-19,14
373923,2699501,1889174,590,149,12.0,1993,11894.0,2,579,3626,...,-1,-1,-1,-1,-1,-1,3,1,2010-11-17,17
131710,1485201,329227,3804,132,6.0,1993,NaN,-1,307,1369,...,-1,-1,-1,-1,-1,-1,3,1,1998-10-22,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206204,1654163,1170059,11517,132,1.0,1998,NaN,-1,1207,2217,...,-1,-1,-1,0,5,5,-1,-1,2003-02-28,5
188453,1624504,893028,4603,132,7.0,1993,NaN,-1,1206,369,...,-1,-1,-1,-1,-1,-1,-1,-1,2002-02-28,9
228446,1719533,1454882,2151,132,10.0,2002,NaN,-1,1365,3342,...,2,1,0,-1,-1,-1,-1,-1,2010-03-17,8
256494,1779185,1218343,12003,132,1.0,1997,NaN,-1,287,3652,...,-1,-1,-1,-1,-1,-1,3,1,2004-10-20,7
210092,1663257,1279005,14734,132,1.0,1999,NaN,-1,2511,990,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-06-04,10

In [176]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 24701.63396175414

In [177]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice','date_of_sale'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,565,752,...,-1,-1,-1,-1,-1,-1,-1,3,1,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1484,1380,...,-1,-1,-1,-1,-1,-1,-1,3,1,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1194,234,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2026,2793,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,2691,3233,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 256332, dtype: int64

In [178]:
print(df2.shape)

(256332, 48)

In [179]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
204700,1644874,1413113,4660,132,1.0,1997,NaN,-1,2452,659,...,-1,-1,-1,-1,-1,-1,-1,3,1,3
179368,1611586,1435036,4701,132,2.0,2000,NaN,-1,1264,770,...,-1,-1,-1,-1,-1,-1,-1,3,1,7
288146,2204315,1650360,3199,136,NaN,1994,4462.0,1,1712,892,...,-1,-1,-1,-1,-1,-1,-1,3,1,14
373923,2699501,1889174,590,149,12.0,1993,11894.0,2,579,3626,...,-1,-1,-1,-1,-1,-1,-1,3,1,17
131710,1485201,329227,3804,132,6.0,1993,NaN,-1,307,1369,...,-1,-1,-1,-1,-1,-1,-1,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206204,1654163,1170059,11517,132,1.0,1998,NaN,-1,1207,2217,...,-1,-1,-1,-1,0,5,5,-1,-1,5
188453,1624504,893028,4603,132,7.0,1993,NaN,-1,1206,369,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,9
228446,1719533,1454882,2151,132,10.0,2002,NaN,-1,1365,3342,...,27,2,1,0,-1,-1,-1,-1,-1,8
256494,1779185,1218343,12003,132,1.0,1997,NaN,-1,287,3652,...,-1,-1,-1,-1,-1,-1,-1,3,1,7
210092,1663257,1279005,14734,132,1.0,1999,NaN,-1,2511,990,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10

In [180]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 24701.63396175414

In [181]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2823.991
Test RMSE: 7506.106

In [182]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [183]:
df2.anomaly.value_counts()

anomaly
 1    253755
-1      2577
Name: count, dtype: int64

In [184]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,565,...,-1,-1,-1,3,1,2006-11-16,2,0.052947,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1484,...,-1,-1,-1,3,1,2004-03-26,8,0.044799,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,1194,...,-1,-1,-1,-1,-1,2004-02-26,3,0.090969,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,2026,...,-1,-1,-1,-1,-1,2011-05-19,10,0.060713,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,2691,...,-1,-1,-1,-1,-1,2009-07-23,2,0.042942,1,Normal

In [185]:
print(df3.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge',
       'anomaly_score', 'anomaly', 'anomaly_label'],
      dtype='object')

In [186]:
print(df3.shape)

(256332, 51)

In [187]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2698.781
Test RMSE: 2696.938

In [188]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#14.pkl')

['/content/4.2.25_#14.pkl']

In [189]:

df_valid = pd.read_csv("Valid.csv")

In [190]:
df_valid=df_valid.drop(columns=['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'])
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [191]:
print(df_valid.shape)

(11573, 45)

In [192]:

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df_valid['CarAge'] = df_valid.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

                 Thumb      Pattern_Changer Grouser_Type Backhoe_Mounting  \
0  None or Unspecified  None or Unspecified       Double              NaN
1  None or Unspecified                  Yes       Double              NaN
2  None or Unspecified  None or Unspecified       Double              NaN
3  None or Unspecified  None or Unspecified       Double              NaN
4                  NaN                  NaN          NaN              NaN

  Blade_Type Travel_Controls Differential_Type Steering_Controls date_of_sale  \
0        NaN             NaN               NaN               NaN   2012-01-05
1        NaN             NaN               NaN               NaN   2012-01-05
2        NaN             NaN               NaN               NaN   2012-01-05
3        NaN             NaN               NaN               NaN   2012-01-05
4        NaN             NaN          Standard      Conventional   2012-01-04

  CarAge
0    NaN
1    6.0
2   12.0
3    NaN
4   10.0

[5 rows x 47 columns]

In [193]:
print(df_valid.shape)
print(X2.shape)

(11573, 47)
(253755, 46)

In [194]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [195]:

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  date_of_sale              11573 non-null  datetime64[ns]
 46  CarAge                    10367 non-null  float64
dtypes: datetime64[ns](1), float64(2), int16(2), int64(6), int8(36)
memory usage: 1.2 MB

In [196]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(253755, 46)
(11573, 47)

In [197]:
df_valid1=df_valid.drop(columns=['date_of_sale'])
df_valid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  CarAge                    10367 non-null  float64
dtypes: float64(2), int16(2), int64(6), int8(36)
memory usage: 1.1 MB

In [198]:
print(df_valid1.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [199]:
# Step 1: Prepare df_valid1 by dropping unnecessary columns that shouldn't be in the features
df_valid1_processed = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Check the first few rows to verify
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [200]:
# Step 2: Apply one-hot encoding to the processed validation data
df_valid1_processed = pd.get_dummies(df_valid1_processed, drop_first=True)

# Check the first few rows to verify the encoding
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [201]:
# Step 3: Align the columns between the validation set and the training set (X2)
df_valid1_processed = df_valid1_processed.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify the alignment
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [202]:
# Step 4: Compute anomaly scores and predictions for df_valid1_processed
df_valid1['anomaly_score'] = iso_forest.decision_function(df_valid1_processed)
df_valid1['anomaly'] = iso_forest.predict(df_valid1_processed)

# Map anomaly predictions to labels (Normal/Anomaly)
df_valid1['anomaly_label'] = df_valid1['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# Check the first few rows to verify the anomaly scores and predictions
print(df_valid1[['anomaly_score', 'anomaly', 'anomaly_label']].head())

   anomaly_score  anomaly anomaly_label
0       0.071301        1        Normal
1       0.007905        1        Normal
2       0.060291        1        Normal
3       0.069062        1        Normal
4       0.058717        1        Normal

In [203]:
# Step 6: Prepare the features for prediction (drop anomaly-related columns again)
X_valid = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding to match the training set
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify
print(X_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [204]:
# Step 7: Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid1
df_valid1['y_pred'] = y_pred

# Check the first few rows of the validation data with predictions
print(df_valid1[['y_pred']].head())

    y_pred
0  51610.0
1  70155.0
2  34410.0
3  28060.0
4  25994.5

In [205]:
# Step 8: Drop unwanted columns after adding predictions
df_valid1 = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Step 9: Check the resulting DataFrame
print(df_valid1.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  Thumb  \
0                       0.0         -1        19          293  ...      2
1                    4412.0          2        19         1611  ...      2
2                   10127.0          2        19          160  ...      2
3                    4682.0          1        19          686  ...      2
4                    8150.0          2        18          397  ...     -1

   Pattern_Changer  Grouser_Type  Backhoe_Mounting  Blade_Type  \
0                1             0                -1          -1
1                2             0                -1          -1
2                1             0                -1          -1
3                1             0                -1          -1
4               -1            -1                -1          -1

   Travel_Controls  Differential_Type  Steering_Controls  CarAge   y_pred
0               -1                 -1                 -1     NaN  51610.0
1               -1                 -1                 -1     6.0  70155.0
2               -1                 -1                 -1    12.0  34410.0
3               -1                 -1                 -1     NaN  28060.0
4               -1                  2                  1    10.0  25994.5

[5 rows x 47 columns]

In [206]:
df_valid1.to_csv('clean_pred_V30.csv', index=False)