<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/8_2_25_V34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

filter rows fro year 1995 +df['MachineHoursCurrentMeter'].fillna(df['MachineHoursCurrentMeter'].mean(), inplace=True)
# Define a parameter grid for RandomizedSearchCV + drop -missing_percentages_sorted>91.

In [361]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-361-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [362]:
unique_values_machine_hours = df['MachineHoursCurrentMeter'].unique()
unique_values_hydraulics = df['Hydraulics'].unique()

In [363]:
df['MachineHoursCurrentMeter'].fillna(df['MachineHoursCurrentMeter'].mean(), inplace=True)

<ipython-input-363-0772af0c4c80>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MachineHoursCurrentMeter'].fillna(df['MachineHoursCurrentMeter'].mean(), inplace=True)

In [364]:
# Check if there are any missing values left
missing_values = df['MachineHoursCurrentMeter'].isna().sum()
print(f'Missing values after imputation: {missing_values}')

Missing values after imputation: 0

In [365]:
# Filter the rows where 'YearMade' is >= 2000
df = df[df['YearMade'] >= 1995]

In [366]:
missing_data = df.isna().sum()
print(missing_data[missing_data>0])

auctioneerID                13551
UsageBand                  149632
fiSecondaryDesc             64264
fiModelSeries              174508
fiModelDescriptor          153893
ProductSize                113994
Drive_System               154356
Enclosure                     120
Forks                       97829
Pad_Type                   160038
Ride_Control               131663
Stick                      160038
Transmission               122121
Turbocharged               160038
Blade_Extension            200287
Blade_Width                200287
Enclosure_Type             200287
Engine_Horsepower          200287
Hydraulics                  46593
Pushblock                  200287
Ripper                     168111
Scarifier                  200286
Tip_Control                200287
Tire_Size                  172017
Coupler                     85057
Coupler_System             172153
Grouser_Tracks             172194
Hydraulics_Flow            172194
Track_Type                 147657
Undercarriage_Pad_Width    147404
Stick_Length               147632
Thumb                      147597
Pattern_Changer            147632
Grouser_Type               147657
Backhoe_Mounting           173826
Blade_Type                 173576
Travel_Controls            173572
Differential_Type          177682
Steering_Controls          177695
dtype: int64

In [367]:
missing_percentages = (df.isna().sum() / len(df)) * 100
missing_percentages_sorted=missing_percentages[missing_percentages>0].sort_values(ascending=False)
print(missing_percentages_sorted)

Pushblock                  97.243693
Blade_Extension            97.243693
Tip_Control                97.243693
Engine_Horsepower          97.243693
Enclosure_Type             97.243693
Blade_Width                97.243693
Scarifier                  97.243208
Steering_Controls          86.274786
Differential_Type          86.268474
fiModelSeries              84.727428
Backhoe_Mounting           84.396302
Blade_Type                 84.274922
Travel_Controls            84.272980
Hydraulics_Flow            83.603931
Grouser_Tracks             83.603931
Coupler_System             83.584024
Tire_Size                  83.517993
Ripper                     81.621546
Pad_Type                   77.701928
Turbocharged               77.701928
Stick                      77.701928
Drive_System               74.943194
fiModelDescriptor          74.718397
UsageBand                  72.649589
Grouser_Type               71.690684
Track_Type                 71.690684
Stick_Length               71.678546
Pattern_Changer            71.678546
Thumb                      71.661553
Undercarriage_Pad_Width    71.567847
Ride_Control               63.925249
Transmission               59.292401
ProductSize                55.346565
Forks                      47.498106
Coupler                    41.297023
fiSecondaryDesc            31.201569
Hydraulics                 22.621915
auctioneerID                6.579305
Enclosure                   0.058263
dtype: float64

In [368]:
col_to_drop=missing_percentages_sorted[missing_percentages_sorted>90].index
df=df.drop(columns=col_to_drop)
print(col_to_drop)

Index(['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'],
      dtype='object')

In [369]:
df = df[df['YearMade'] != 1000]

In [370]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [371]:
print(df.shape)

(205964, 46)

In [372]:
import numpy as np

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df['date_of_sale'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df['CarAge'] = df.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0      2004
1  1139248      57000     117657       77         121           3.0      1996
2  1139249      10000     434808     7009         121           3.0      2001
3  1139251      38500    1026470      332         121           3.0      2001
4  1139253      11000    1057373    17311         121           3.0      2007

   MachineHoursCurrentMeter UsageBand         saledate  ... Thumb  \
0                      68.0       Low  11/16/2006 0:00  ...   NaN
1                    4640.0       Low   3/26/2004 0:00  ...   NaN
2                    2838.0      High   2/26/2004 0:00  ...   NaN
3                    3486.0      High   5/19/2011 0:00  ...   NaN
4                     722.0    Medium   7/23/2009 0:00  ...   NaN

  Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0             NaN          NaN              NaN        NaN             NaN
1             NaN          NaN              NaN        NaN             NaN
2             NaN          NaN              NaN        NaN             NaN
3             NaN          NaN              NaN        NaN             NaN
4             NaN          NaN              NaN        NaN             NaN

  Differential_Type Steering_Controls date_of_sale CarAge
0          Standard      Conventional   2006-11-16      2
1          Standard      Conventional   2004-03-26      8
2               NaN               NaN   2004-02-26      3
3               NaN               NaN   2011-05-19     10
4               NaN               NaN   2009-07-23      2

[5 rows x 48 columns]

In [373]:
print(df.shape)

(205964, 48)

In [374]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205964 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   205964 non-null  int64
 1   SalePrice                 205964 non-null  int64
 2   MachineID                 205964 non-null  int64
 3   ModelID                   205964 non-null  int64
 4   datasource                205964 non-null  int64
 5   auctioneerID              192413 non-null  float64
 6   YearMade                  205964 non-null  int64
 7   MachineHoursCurrentMeter  205964 non-null  float64
 8   UsageBand                 56332 non-null   object
 9   saledate                  205964 non-null  object
 10  fiModelDesc               205964 non-null  object
 11  fiBaseModel               205964 non-null  object
 12  fiSecondaryDesc           141700 non-null  object
 13  fiModelSeries             31456 non-null   object
 14  fiModelDescriptor         52071 non-null   object
 15  ProductSize               91970 non-null   object
 16  fiProductClassDesc        205964 non-null  object
 17  state                     205964 non-null  object
 18  ProductGroup              205964 non-null  object
 19  ProductGroupDesc          205964 non-null  object
 20  Drive_System              51608 non-null   object
 21  Enclosure                 205844 non-null  object
 22  Forks                     108135 non-null  object
 23  Pad_Type                  45926 non-null   object
 24  Ride_Control              74301 non-null   object
 25  Stick                     45926 non-null   object
 26  Transmission              83843 non-null   object
 27  Turbocharged              45926 non-null   object
 28  Hydraulics                159371 non-null  object
 29  Ripper                    37853 non-null   object
 30  Tire_Size                 33947 non-null   object
 31  Coupler                   120907 non-null  object
 32  Coupler_System            33811 non-null   object
 33  Grouser_Tracks            33770 non-null   object
 34  Hydraulics_Flow           33770 non-null   object
 35  Track_Type                58307 non-null   object
 36  Undercarriage_Pad_Width   58560 non-null   object
 37  Stick_Length              58332 non-null   object
 38  Thumb                     58367 non-null   object
 39  Pattern_Changer           58332 non-null   object
 40  Grouser_Type              58307 non-null   object
 41  Backhoe_Mounting          32138 non-null   object
 42  Blade_Type                32388 non-null   object
 43  Travel_Controls           32392 non-null   object
 44  Differential_Type         28282 non-null   object
 45  Steering_Controls         28269 non-null   object
 46  date_of_sale              205964 non-null  datetime64[ns]
 47  CarAge                    205964 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(38)
memory usage: 77.0+ MB

In [375]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [376]:
print(df2.shape)

(205964, 48)

In [377]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205964 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   205964 non-null  int64
 1   SalePrice                 205964 non-null  int64
 2   MachineID                 205964 non-null  int64
 3   ModelID                   205964 non-null  int64
 4   datasource                205964 non-null  int64
 5   auctioneerID              192413 non-null  float64
 6   YearMade                  205964 non-null  int64
 7   MachineHoursCurrentMeter  205964 non-null  float64
 8   UsageBand                 56332 non-null   category
 9   saledate                  205964 non-null  category
 10  fiModelDesc               205964 non-null  category
 11  fiBaseModel               205964 non-null  category
 12  fiSecondaryDesc           141700 non-null  category
 13  fiModelSeries             31456 non-null   category
 14  fiModelDescriptor         52071 non-null   category
 15  ProductSize               91970 non-null   category
 16  fiProductClassDesc        205964 non-null  category
 17  state                     205964 non-null  category
 18  ProductGroup              205964 non-null  category
 19  ProductGroupDesc          205964 non-null  category
 20  Drive_System              51608 non-null   category
 21  Enclosure                 205844 non-null  category
 22  Forks                     108135 non-null  category
 23  Pad_Type                  45926 non-null   category
 24  Ride_Control              74301 non-null   category
 25  Stick                     45926 non-null   category
 26  Transmission              83843 non-null   category
 27  Turbocharged              45926 non-null   category
 28  Hydraulics                159371 non-null  category
 29  Ripper                    37853 non-null   category
 30  Tire_Size                 33947 non-null   category
 31  Coupler                   120907 non-null  category
 32  Coupler_System            33811 non-null   category
 33  Grouser_Tracks            33770 non-null   category
 34  Hydraulics_Flow           33770 non-null   category
 35  Track_Type                58307 non-null   category
 36  Undercarriage_Pad_Width   58560 non-null   category
 37  Stick_Length              58332 non-null   category
 38  Thumb                     58367 non-null   category
 39  Pattern_Changer           58332 non-null   category
 40  Grouser_Type              58307 non-null   category
 41  Backhoe_Mounting          32138 non-null   category
 42  Blade_Type                32388 non-null   category
 43  Travel_Controls           32392 non-null   category
 44  Differential_Type         28282 non-null   category
 45  Steering_Controls         28269 non-null   category
 46  date_of_sale              205964 non-null  datetime64[ns]
 47  CarAge                    205964 non-null  int64
dtypes: category(38), datetime64[ns](1), float64(2), int64(7)
memory usage: 25.8 MB
<class 'pandas.core.frame.DataFrame'>
Index: 205964 entries, 0 to 401124
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   205964 non-null  int64
 1   SalePrice                 205964 non-null  int64
 2   MachineID                 205964 non-null  int64
 3   ModelID                   205964 non-null  int64
 4   datasource                205964 non-null  int64
 5   auctioneerID              192413 non-null  float64
 6   YearMade                  205964 non-null  int64
 7   MachineHoursCurrentMeter  205964 non-null  float64
 8   UsageBand                 205964 non-null  int8
 9   saledate                  205964 non-null  int16
 10  fiModelDesc               205964 non-null  int16
 11  fiBaseModel               205964 non-null  int16
 12  fiSecondaryDesc           205964 non-null  int16
 13  fiModelSeries             205964 non-null  int8
 14  fiModelDescriptor         205964 non-null  int8
 15  ProductSize               205964 non-null  int8
 16  fiProductClassDesc        205964 non-null  int8
 17  state                     205964 non-null  int8
 18  ProductGroup              205964 non-null  int8
 19  ProductGroupDesc          205964 non-null  int8
 20  Drive_System              205964 non-null  int8
 21  Enclosure                 205964 non-null  int8
 22  Forks                     205964 non-null  int8
 23  Pad_Type                  205964 non-null  int8
 24  Ride_Control              205964 non-null  int8
 25  Stick                     205964 non-null  int8
 26  Transmission              205964 non-null  int8
 27  Turbocharged              205964 non-null  int8
 28  Hydraulics                205964 non-null  int8
 29  Ripper                    205964 non-null  int8
 30  Tire_Size                 205964 non-null  int8
 31  Coupler                   205964 non-null  int8
 32  Coupler_System            205964 non-null  int8
 33  Grouser_Tracks            205964 non-null  int8
 34  Hydraulics_Flow           205964 non-null  int8
 35  Track_Type                205964 non-null  int8
 36  Undercarriage_Pad_Width   205964 non-null  int8
 37  Stick_Length              205964 non-null  int8
 38  Thumb                     205964 non-null  int8
 39  Pattern_Changer           205964 non-null  int8
 40  Grouser_Type              205964 non-null  int8
 41  Backhoe_Mounting          205964 non-null  int8
 42  Blade_Type                205964 non-null  int8
 43  Travel_Controls           205964 non-null  int8
 44  Differential_Type         205964 non-null  int8
 45  Steering_Controls         205964 non-null  int8
 46  date_of_sale              205964 non-null  datetime64[ns]
 47  CarAge                    205964 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(4), int64(7), int8(34)
memory usage: 25.5 MB

In [378]:
# create X and y
X = df2.drop(columns=['SalePrice'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,469,685,...,-1,-1,-1,-1,-1,-1,3,1,2006-11-16,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1242,1241,...,-1,-1,-1,-1,-1,-1,3,1,2004-03-26,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,996,209,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,1686,2467,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,2238,2878,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 205964, dtype: int64

In [379]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
268946,1806665,1328303,9549,132,5.0,1998,3457.955353,-1,2574,986,...,-1,-1,-1,-1,-1,-1,-1,-1,2007-09-15,9
324390,2318165,164976,1580,136,8.0,2004,0.000000,-1,448,1555,...,-1,-1,-1,0,5,5,-1,-1,2007-11-14,3
46814,1288696,1117342,3238,132,4.0,1998,3457.955353,-1,927,1111,...,-1,-1,-1,0,5,5,-1,-1,2001-02-17,3
13100,1182211,1047685,16025,121,3.0,2004,1768.000000,2,2746,2868,...,-1,-1,-1,-1,-1,-1,-1,-1,2008-09-04,4
179302,1611501,1482445,4754,132,1.0,2000,3457.955353,-1,954,828,...,-1,-1,-1,-1,-1,-1,3,1,2007-02-20,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275688,1826173,1444439,17573,132,4.0,1996,2700.000000,2,1024,2898,...,2,1,0,-1,-1,-1,-1,-1,1999-02-04,3
248528,1761470,1203813,2232,132,1.0,1996,3457.955353,-1,741,2537,...,2,1,0,-1,-1,-1,-1,-1,1998-12-02,2
295448,2226257,778047,1211,136,1.0,2002,0.000000,-1,924,420,...,2,2,2,-1,-1,-1,-1,-1,2009-02-16,7
321289,2306135,886588,3542,136,13.0,2002,0.000000,-1,1145,545,...,-1,-1,-1,-1,-1,-1,-1,-1,2007-03-17,5
278877,1851623,1315375,18472,132,1.0,2006,3457.955353,-1,2025,3002,...,-1,-1,-1,-1,-1,-1,-1,-1,2008-06-26,2

In [380]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 25157.069536017512

In [381]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice','date_of_sale'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,999089,3157,121,3.0,2004,68.0,1,469,685,...,-1,-1,-1,-1,-1,-1,-1,3,1,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1242,1241,...,-1,-1,-1,-1,-1,-1,-1,3,1,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,996,209,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,1686,2467,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,2238,2878,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 205964, dtype: int64

In [382]:
print(df2.shape)

(205964, 48)

In [383]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
268946,1806665,1328303,9549,132,5.0,1998,3457.955353,-1,2574,986,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,9
324390,2318165,164976,1580,136,8.0,2004,0.000000,-1,448,1555,...,-1,-1,-1,-1,0,5,5,-1,-1,3
46814,1288696,1117342,3238,132,4.0,1998,3457.955353,-1,927,1111,...,-1,-1,-1,-1,0,5,5,-1,-1,3
13100,1182211,1047685,16025,121,3.0,2004,1768.000000,2,2746,2868,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,4
179302,1611501,1482445,4754,132,1.0,2000,3457.955353,-1,954,828,...,-1,-1,-1,-1,-1,-1,-1,3,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275688,1826173,1444439,17573,132,4.0,1996,2700.000000,2,1024,2898,...,22,2,1,0,-1,-1,-1,-1,-1,3
248528,1761470,1203813,2232,132,1.0,1996,3457.955353,-1,741,2537,...,25,2,1,0,-1,-1,-1,-1,-1,2
295448,2226257,778047,1211,136,1.0,2002,0.000000,-1,924,420,...,2,2,2,2,-1,-1,-1,-1,-1,7
321289,2306135,886588,3542,136,13.0,2002,0.000000,-1,1145,545,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,5
278877,1851623,1315375,18472,132,1.0,2006,3457.955353,-1,2025,3002,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

In [384]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 25157.069536017512

In [385]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2807.256
Test RMSE: 7464.868

In [386]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [387]:
df2.anomaly.value_counts()

anomaly
 1    203843
-1      2121
Name: count, dtype: int64

In [388]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,469,...,-1,-1,-1,3,1,2006-11-16,2,0.064948,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1242,...,-1,-1,-1,3,1,2004-03-26,8,0.049397,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,996,...,-1,-1,-1,-1,-1,2004-02-26,3,0.096262,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,1686,...,-1,-1,-1,-1,-1,2011-05-19,10,0.068982,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,2238,...,-1,-1,-1,-1,-1,2009-07-23,2,0.059963,1,Normal

In [389]:
print(df3.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge',
       'anomaly_score', 'anomaly', 'anomaly_label'],
      dtype='object')

In [390]:
print(df3.shape)

(205964, 51)

In [391]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)


model2 = RandomForestRegressor(n_estimators=100,random_state=42,n_jobs=-1)
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2677.435
Test RMSE: 2676.114

In [392]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#14.pkl')

['/content/4.2.25_#14.pkl']

In [393]:

df_valid = pd.read_csv("Valid.csv")

In [394]:
unique_values = df_valid['MachineHoursCurrentMeter'].unique()
print(unique_values)

[    0.  4412. 10127. ... 12528.  2683.  1558.]

In [396]:
df_valid['MachineHoursCurrentMeter'].fillna(df_valid['MachineHoursCurrentMeter'].mean
 (), inplace=True)

In [397]:
df_valid=df_valid.drop(columns=['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'])
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [398]:
print(df_valid.shape)

(11573, 45)

In [399]:

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df_valid['CarAge'] = df_valid.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

                 Thumb      Pattern_Changer Grouser_Type Backhoe_Mounting  \
0  None or Unspecified  None or Unspecified       Double              NaN
1  None or Unspecified                  Yes       Double              NaN
2  None or Unspecified  None or Unspecified       Double              NaN
3  None or Unspecified  None or Unspecified       Double              NaN
4                  NaN                  NaN          NaN              NaN

  Blade_Type Travel_Controls Differential_Type Steering_Controls date_of_sale  \
0        NaN             NaN               NaN               NaN   2012-01-05
1        NaN             NaN               NaN               NaN   2012-01-05
2        NaN             NaN               NaN               NaN   2012-01-05
3        NaN             NaN               NaN               NaN   2012-01-05
4        NaN             NaN          Standard      Conventional   2012-01-04

  CarAge
0    NaN
1    6.0
2   12.0
3    NaN
4   10.0

[5 rows x 47 columns]

In [400]:
print(df_valid.shape)
print(X2.shape)

(11573, 47)
(203843, 46)

In [401]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [402]:

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  11573 non-null  float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  date_of_sale              11573 non-null  datetime64[ns]
 46  CarAge                    10367 non-null  float64
dtypes: datetime64[ns](1), float64(2), int16(2), int64(6), int8(36)
memory usage: 1.2 MB

In [403]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(203843, 46)
(11573, 47)

In [404]:
df_valid1=df_valid.drop(columns=['date_of_sale'])
df_valid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  11573 non-null  float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Hydraulics                11573 non-null  int8
 28  Ripper                    11573 non-null  int8
 29  Tire_Size                 11573 non-null  int8
 30  Coupler                   11573 non-null  int8
 31  Coupler_System            11573 non-null  int8
 32  Grouser_Tracks            11573 non-null  int8
 33  Hydraulics_Flow           11573 non-null  int8
 34  Track_Type                11573 non-null  int8
 35  Undercarriage_Pad_Width   11573 non-null  int8
 36  Stick_Length              11573 non-null  int8
 37  Thumb                     11573 non-null  int8
 38  Pattern_Changer           11573 non-null  int8
 39  Grouser_Type              11573 non-null  int8
 40  Backhoe_Mounting          11573 non-null  int8
 41  Blade_Type                11573 non-null  int8
 42  Travel_Controls           11573 non-null  int8
 43  Differential_Type         11573 non-null  int8
 44  Steering_Controls         11573 non-null  int8
 45  CarAge                    10367 non-null  float64
dtypes: float64(2), int16(2), int64(6), int8(36)
memory usage: 1.1 MB

In [405]:
print(df_valid1.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [ ]:
# Step 1: Prepare df_valid1 by dropping unnecessary columns that shouldn't be in the features
df_valid1_processed = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Check the first few rows to verify
print(df_valid1_processed.head())

In [406]:
# Step 2: Apply one-hot encoding to the processed validation data
df_valid1_processed = pd.get_dummies(df_valid1_processed, drop_first=True)

# Check the first few rows to verify the encoding
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [407]:
# Step 3: Align the columns between the validation set and the training set (X2)
df_valid1_processed = df_valid1_processed.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify the alignment
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [408]:
# Step 4: Compute anomaly scores and predictions for df_valid1_processed
df_valid1['anomaly_score'] = iso_forest.decision_function(df_valid1_processed)
df_valid1['anomaly'] = iso_forest.predict(df_valid1_processed)

# Map anomaly predictions to labels (Normal/Anomaly)
df_valid1['anomaly_label'] = df_valid1['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# Check the first few rows to verify the anomaly scores and predictions
print(df_valid1[['anomaly_score', 'anomaly', 'anomaly_label']].head())

   anomaly_score  anomaly anomaly_label
0       0.078144        1        Normal
1       0.027993        1        Normal
2       0.054260        1        Normal
3       0.075458        1        Normal
4       0.057495        1        Normal

In [409]:
# Step 6: Prepare the features for prediction (drop anomaly-related columns again)
X_valid = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding to match the training set
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify
print(X_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 46 columns]

In [410]:
# Step 7: Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid1
df_valid1['y_pred'] = y_pred

# Check the first few rows of the validation data with predictions
print(df_valid1[['y_pred']].head())

    y_pred
0  70395.0
1  70370.0
2  34325.0
3  53895.0
4  30197.5

In [411]:
# Step 8: Drop unwanted columns after adding predictions
df_valid1 = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Step 9: Check the resulting DataFrame
print(df_valid1.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  Thumb  \
0                       0.0         -1        19          293  ...      2
1                    4412.0          2        19         1611  ...      2
2                   10127.0          2        19          160  ...      2
3                    4682.0          1        19          686  ...      2
4                    8150.0          2        18          397  ...     -1

   Pattern_Changer  Grouser_Type  Backhoe_Mounting  Blade_Type  \
0                1             0                -1          -1
1                2             0                -1          -1
2                1             0                -1          -1
3                1             0                -1          -1
4               -1            -1                -1          -1

   Travel_Controls  Differential_Type  Steering_Controls  CarAge   y_pred
0               -1                 -1                 -1     NaN  70395.0
1               -1                 -1                 -1     6.0  70370.0
2               -1                 -1                 -1    12.0  34325.0
3               -1                 -1                 -1     NaN  53895.0
4               -1                  2                  1    10.0  30197.5

[5 rows x 47 columns]

In [413]:
df_valid1.to_csv('clean_pred_V34.csv', index=False)