<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/clean_3_2_25ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-14-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 162.2+ MB

In [ ]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convert 'date_of_sale' to datetime format
df2['date_of_sale'] = pd.to_datetime(df2['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Add AgeOfVehicle column (date of sale year - YearMade)
df2['AgeOfVehicle'] = df2['date_of_sale'].dt.year - df2['YearMade']

# Display the first few rows of the updated DataFrame

df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [ ]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   category
 9   saledate                  401125 non-null  category
 10  fiModelDesc               401125 non-null  category
 11  fiBaseModel               401125 non-null  category
 12  fiSecondaryDesc           263934 non-null  category
 13  fiModelSeries             56908 non-null   category
 14  fiModelDescriptor         71919 non-null   category
 15  ProductSize               190350 non-null  category
 16  fiProductClassDesc        401125 non-null  category
 17  state                     401125 non-null  category
 18  ProductGroup              401125 non-null  category
 19  ProductGroupDesc          401125 non-null  category
 20  Drive_System              104361 non-null  category
 21  Enclosure                 400800 non-null  category
 22  Forks                     192077 non-null  category
 23  Pad_Type                  79134 non-null   category
 24  Ride_Control              148606 non-null  category
 25  Stick                     79134 non-null   category
 26  Transmission              183230 non-null  category
 27  Turbocharged              79134 non-null   category
 28  Blade_Extension           25219 non-null   category
 29  Blade_Width               25219 non-null   category
 30  Enclosure_Type            25219 non-null   category
 31  Engine_Horsepower         25219 non-null   category
 32  Hydraulics                320570 non-null  category
 33  Pushblock                 25219 non-null   category
 34  Ripper                    104137 non-null  category
 35  Scarifier                 25230 non-null   category
 36  Tip_Control               25219 non-null   category
 37  Tire_Size                 94718 non-null   category
 38  Coupler                   213952 non-null  category
 39  Coupler_System            43458 non-null   category
 40  Grouser_Tracks            43362 non-null   category
 41  Hydraulics_Flow           43362 non-null   category
 42  Track_Type                99153 non-null   category
 43  Undercarriage_Pad_Width   99872 non-null   category
 44  Stick_Length              99218 non-null   category
 45  Thumb                     99288 non-null   category
 46  Pattern_Changer           99218 non-null   category
 47  Grouser_Type              99153 non-null   category
 48  Backhoe_Mounting          78672 non-null   category
 49  Blade_Type                79833 non-null   category
 50  Travel_Controls           79834 non-null   category
 51  Differential_Type         69411 non-null   category
 52  Steering_Controls         69369 non-null   category
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: category(45), datetime64[ns](1), float64(2), int64(7)
memory usage: 50.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(6), int64(7), int8(39)
memory usage: 50.1 MB

In [ ]:
# create X and y
X = df2.drop(columns='SalePrice')
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
0,1139246,999089,3157,121,3.0,2004,68.0,1,668,949,...,-1,-1,-1,-1,-1,-1,3,1,2006-11-16,2
1,1139248,117657,77,121,3.0,1996,4640.0,1,1722,1724,...,-1,-1,-1,-1,-1,-1,3,1,2004-03-26,8
2,1139249,434808,7009,121,3.0,2001,2838.0,0,1382,330,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,2394,3673,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3.0,2007,722.0,2,3179,4207,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 401125, dtype: int64

In [ ]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle
38463,1276922,1394823,6783,132,1.0,1991,NaN,-1,3682,981,...,-1,-1,-1,0,5,5,-1,-1,1997-09-18,6
215512,1680074,1342381,15148,132,4.0,1000,NaN,-1,1472,2746,...,2,1,0,-1,-1,-1,-1,-1,2010-02-08,1010
64285,1333014,1377089,1092,132,2.0,1994,NaN,-1,1427,475,...,2,1,0,-1,-1,-1,-1,-1,2002-02-04,8
40874,1281221,1246900,3170,132,2.0,1988,NaN,-1,1220,1056,...,-1,-1,-1,-1,-1,-1,-1,-1,1994-02-10,6
161494,1582538,1505530,4674,132,11.0,1988,NaN,-1,1731,906,...,2,1,0,-1,-1,-1,-1,-1,1997-03-27,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1792573,1252444,9548,132,1.0,1989,NaN,-1,1735,1352,...,-1,-1,-1,-1,-1,-1,-1,-1,2003-03-27,14
365838,2554295,1550967,3857,149,1.0,1992,23244.0,2,1269,1749,...,-1,-1,-1,-1,-1,-1,3,1,2011-02-15,19
131932,1486248,428435,7256,132,2.0,2000,NaN,-1,998,1664,...,-1,-1,-1,-1,-1,-1,3,1,2006-12-16,6
146867,1518511,1276538,1638,132,2.0,1999,NaN,-1,2363,2308,...,-1,-1,-1,0,5,5,-1,-1,2003-05-17,4
121958,1464497,1348519,7057,132,7.0,1996,NaN,-1,308,503,...,2,1,2,-1,-1,-1,-1,-1,2005-10-19,9

In [ ]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 22932.4005340408

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2786.277
Test RMSE: 7453.616

In [ ]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
import joblib
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})
# Save the models in a list (no additional brackets)
model_data = [model, iso_forest]
joblib.dump(model_data, '/content/3.2.25 isolation.pkl')  # Save directly to the file

['/content/3.2.25 isolation.pkl']

In [ ]:
df2.sort_values("anomaly_score").sample(20)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
376839,2746155,11500,1451469,18070,149,1.0,1989,0.0,-1,2481,...,-1,-1,-1,3,1,2011-05-26,22,0.044263,1,Normal
311566,2271738,37500,1547883,1586,136,1.0,1000,0.0,-1,2495,...,0,5,5,-1,-1,2009-05-28,1009,0.021977,1,Normal
301767,2244841,33000,853138,3567,136,1.0,2000,0.0,-1,3836,...,-1,-1,-1,-1,-1,2007-09-28,7,0.154227,1,Normal
305707,2255334,36000,1310759,1597,136,1.0,2000,0.0,-1,731,...,0,5,3,-1,-1,2008-11-20,8,0.120174,1,Normal
125859,1472869,11750,1507696,7511,132,12.0,1990,NaN,-1,2690,...,-1,-1,-1,-1,-1,2005-06-15,15,0.183495,1,Normal
137186,1496060,9750,886930,3537,132,13.0,1994,NaN,-1,1170,...,-1,-1,-1,-1,-1,2002-12-07,8,0.167329,1,Normal
223713,1705957,88000,1202657,8866,132,2.0,2000,NaN,-1,1465,...,-1,-1,-1,-1,-1,2001-02-08,1,0.195018,1,Normal
361223,2499616,16000,1169196,6793,149,1.0,1992,6583.0,2,3838,...,-1,-1,-1,-1,-1,2010-09-28,18,0.067145,1,Normal
163234,1585621,10000,1539378,8308,132,18.0,1000,NaN,-1,624,...,-1,-1,-1,-1,-1,1999-11-13,999,0.091117,1,Normal
25767,1253148,17500,1090225,6788,132,4.0,1987,NaN,-1,1421,...,-1,-1,-1,-1,-1,1992-02-04,5,0.170086,1,Normal
231285,1724918,37500,1159971,16172,132,2.0,2004,NaN,-1,144,...,-1,-1,-1,-1,-1,2011-01-29,7,0.154525,1,Normal
333255,2344301,65000,1694309,14310,136,NaN,2002,0.0,-1,3186,...,-1,-1,-1,-1,-1,2008-07-24,6,0.145198,1,Normal
395179,6273148,90000,769888,13575,149,1.0,2003,NaN,-1,3100,...,-1,-1,-1,3,1,2011-07-15,8,0.032139,1,Normal
231808,1725948,18000,1339869,8948,132,6.0,1000,NaN,-1,529,...,-1,-1,-1,-1,-1,1994-10-07,994,0.115917,1,Normal
218743,1686084,38500,1205192,1991,132,2.0,1997,NaN,-1,1430,...,-1,-1,-1,-1,-1,2007-02-04,10,0.183060,1,Normal
377123,2754127,25000,1907302,5887,149,1.0,1998,8916.0,2,2382,...,-1,-1,-1,3,1,2011-05-18,13,0.059791,1,Normal
257877,1789638,8000,1353903,9505,132,2.0,2003,NaN,-1,3544,...,-1,-1,-1,-1,-1,2008-08-07,5,0.180484,1,Normal
178236,1610145,42000,1223502,4701,132,4.0,1998,NaN,-1,1242,...,-1,-1,-1,3,1,2007-02-12,9,0.165078,1,Normal
292531,2212139,13500,1726116,6738,136,NaN,2005,0.0,-1,324,...,-1,-1,-1,-1,-1,2008-10-02,3,0.173993,1,Normal
374099,2700607,30500,1250126,2232,149,5.0,1998,15221.0,0,2416,...,-1,-1,-1,-1,-1,2011-05-20,13,0.097083,1,Normal

In [ ]:
df2.anomaly.value_counts()

anomaly
 1    396990
-1      4135
Name: count, dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
 55  anomaly_score             401125 non-null  float64
 56  anomaly                   401125 non-null  int64
 57  anomaly_label             401125 non-null  object
dtypes: datetime64[ns](1), float64(3), int16(6), int64(8), int8(39), object(1)
memory usage: 59.3+ MB

In [ ]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,AgeOfVehicle,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,668,...,-1,-1,-1,3,1,2006-11-16,2,0.088231,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1722,...,-1,-1,-1,3,1,2004-03-26,8,0.032343,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,1382,...,-1,-1,-1,-1,-1,2004-02-26,3,0.146081,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,2394,...,-1,-1,-1,-1,-1,2011-05-19,10,0.093704,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,3179,...,-1,-1,-1,-1,-1,2009-07-23,2,0.090882,1,Normal

In [ ]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')
df3.info()

for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(6), int64(7), int8(39)
memory usage: 50.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  int8
 9   saledate                  401125 non-null  int16
 10  fiModelDesc               401125 non-null  int16
 11  fiBaseModel               401125 non-null  int16
 12  fiSecondaryDesc           401125 non-null  int16
 13  fiModelSeries             401125 non-null  int16
 14  fiModelDescriptor         401125 non-null  int16
 15  ProductSize               401125 non-null  int8
 16  fiProductClassDesc        401125 non-null  int8
 17  state                     401125 non-null  int8
 18  ProductGroup              401125 non-null  int8
 19  ProductGroupDesc          401125 non-null  int8
 20  Drive_System              401125 non-null  int8
 21  Enclosure                 401125 non-null  int8
 22  Forks                     401125 non-null  int8
 23  Pad_Type                  401125 non-null  int8
 24  Ride_Control              401125 non-null  int8
 25  Stick                     401125 non-null  int8
 26  Transmission              401125 non-null  int8
 27  Turbocharged              401125 non-null  int8
 28  Blade_Extension           401125 non-null  int8
 29  Blade_Width               401125 non-null  int8
 30  Enclosure_Type            401125 non-null  int8
 31  Engine_Horsepower         401125 non-null  int8
 32  Hydraulics                401125 non-null  int8
 33  Pushblock                 401125 non-null  int8
 34  Ripper                    401125 non-null  int8
 35  Scarifier                 401125 non-null  int8
 36  Tip_Control               401125 non-null  int8
 37  Tire_Size                 401125 non-null  int8
 38  Coupler                   401125 non-null  int8
 39  Coupler_System            401125 non-null  int8
 40  Grouser_Tracks            401125 non-null  int8
 41  Hydraulics_Flow           401125 non-null  int8
 42  Track_Type                401125 non-null  int8
 43  Undercarriage_Pad_Width   401125 non-null  int8
 44  Stick_Length              401125 non-null  int8
 45  Thumb                     401125 non-null  int8
 46  Pattern_Changer           401125 non-null  int8
 47  Grouser_Type              401125 non-null  int8
 48  Backhoe_Mounting          401125 non-null  int8
 49  Blade_Type                401125 non-null  int8
 50  Travel_Controls           401125 non-null  int8
 51  Differential_Type         401125 non-null  int8
 52  Steering_Controls         401125 non-null  int8
 53  date_of_sale              401125 non-null  datetime64[ns]
 54  AgeOfVehicle              401125 non-null  int64
dtypes: datetime64[ns](1), float64(2), int16(6), int64(7), int8(39)
memory usage: 50.1 MB

In [ ]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt
import joblib

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')
model_data2 = [model2, iso_forest]
joblib.dump(model_data2, '/content/3.2.25_final.pkl')  # Save directly to the file

Train RMSE: 2666.136
Test RMSE: 2669.709

['/content/3.2.25_final.pkl']

In [ ]:
import pandas as pd
df_valid = pd.read_csv("Valid.csv")

In [ ]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  object
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
 20  Enclosure                 11564 non-null  object
 21  Forks                     5638 non-null   object
 22  Pad_Type                  1962 non-null   object
 23  Ride_Control              4122 non-null   object
 24  Stick                     1962 non-null   object
 25  Transmission              4777 non-null   object
 26  Turbocharged              1962 non-null   object
 27  Blade_Extension           764 non-null    object
 28  Blade_Width               764 non-null    object
 29  Enclosure_Type            764 non-null    object
 30  Engine_Horsepower         764 non-null    object
 31  Hydraulics                9563 non-null   object
 32  Pushblock                 764 non-null    object
 33  Ripper                    2808 non-null   object
 34  Scarifier                 764 non-null    object
 35  Tip_Control               764 non-null    object
 36  Tire_Size                 2920 non-null   object
 37  Coupler                   6727 non-null   object
 38  Coupler_System            1516 non-null   object
 39  Grouser_Tracks            1513 non-null   object
 40  Hydraulics_Flow           1513 non-null   object
 41  Track_Type                3040 non-null   object
 42  Undercarriage_Pad_Width   3044 non-null   object
 43  Stick_Length              3043 non-null   object
 44  Thumb                     3044 non-null   object
 45  Pattern_Changer           3043 non-null   object
 46  Grouser_Type              3040 non-null   object
 47  Backhoe_Mounting          2040 non-null   object
 48  Blade_Type                2042 non-null   object
 49  Travel_Controls           2043 non-null   object
 50  Differential_Type         2153 non-null   object
 51  Steering_Controls         2153 non-null   object
dtypes: float64(1), int64(6), object(45)
memory usage: 4.6+ MB

In [ ]:
# Convert 'date_of_sale' to datetime format
df_valid['date1_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Add AgeOfVehicle column (date of sale year - YearMade)
df_valid['AgeOfVehicle'] = df_valid['date1_of_sale'].dt.year - df_valid['YearMade']

# Display the first few rows of the updated DataFrame

df_valid.head()

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date1_of_sale,AgeOfVehicle
0,1222837,902859,1376,121,3,1000,0.0,NaN,1/5/2012 0:00,375L,...,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2012-01-05,1012
1,1222839,1048320,36526,121,3,2006,4412.0,Medium,1/5/2012 0:00,TX300LC2,...,None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN,2012-01-05,6
2,1222841,999308,4587,121,3,2000,10127.0,Medium,1/5/2012 0:00,270LC,...,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2012-01-05,12
3,1222843,1062425,1954,121,3,1000,4682.0,Low,1/5/2012 0:00,892DLC,...,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2012-01-05,1012
4,1222845,1032841,4701,121,3,2002,8150.0,Medium,1/4/2012 0:00,544H,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2012-01-04,10

In [ ]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Blade_Extension           11573 non-null  int8
 28  Blade_Width               11573 non-null  int8
 29  Enclosure_Type            11573 non-null  int8
 30  Engine_Horsepower         11573 non-null  int8
 31  Hydraulics                11573 non-null  int8
 32  Pushblock                 11573 non-null  int8
 33  Ripper                    11573 non-null  int8
 34  Scarifier                 11573 non-null  int8
 35  Tip_Control               11573 non-null  int8
 36  Tire_Size                 11573 non-null  int8
 37  Coupler                   11573 non-null  int8
 38  Coupler_System            11573 non-null  int8
 39  Grouser_Tracks            11573 non-null  int8
 40  Hydraulics_Flow           11573 non-null  int8
 41  Track_Type                11573 non-null  int8
 42  Undercarriage_Pad_Width   11573 non-null  int8
 43  Stick_Length              11573 non-null  int8
 44  Thumb                     11573 non-null  int8
 45  Pattern_Changer           11573 non-null  int8
 46  Grouser_Type              11573 non-null  int8
 47  Backhoe_Mounting          11573 non-null  int8
 48  Blade_Type                11573 non-null  int8
 49  Travel_Controls           11573 non-null  int8
 50  Differential_Type         11573 non-null  int8
 51  Steering_Controls         11573 non-null  int8
 52  date1_of_sale             11573 non-null  datetime64[ns]
 53  AgeOfVehicle              11573 non-null  int64
dtypes: datetime64[ns](1), float64(1), int16(2), int64(7), int8(43)
memory usage: 1.3 MB

In [ ]:
df_valid2=df_valid.drop(columns=['date1_of_sale'])
df_valid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Blade_Extension           11573 non-null  int8
 28  Blade_Width               11573 non-null  int8
 29  Enclosure_Type            11573 non-null  int8
 30  Engine_Horsepower         11573 non-null  int8
 31  Hydraulics                11573 non-null  int8
 32  Pushblock                 11573 non-null  int8
 33  Ripper                    11573 non-null  int8
 34  Scarifier                 11573 non-null  int8
 35  Tip_Control               11573 non-null  int8
 36  Tire_Size                 11573 non-null  int8
 37  Coupler                   11573 non-null  int8
 38  Coupler_System            11573 non-null  int8
 39  Grouser_Tracks            11573 non-null  int8
 40  Hydraulics_Flow           11573 non-null  int8
 41  Track_Type                11573 non-null  int8
 42  Undercarriage_Pad_Width   11573 non-null  int8
 43  Stick_Length              11573 non-null  int8
 44  Thumb                     11573 non-null  int8
 45  Pattern_Changer           11573 non-null  int8
 46  Grouser_Type              11573 non-null  int8
 47  Backhoe_Mounting          11573 non-null  int8
 48  Blade_Type                11573 non-null  int8
 49  Travel_Controls           11573 non-null  int8
 50  Differential_Type         11573 non-null  int8
 51  Steering_Controls         11573 non-null  int8
 52  AgeOfVehicle              11573 non-null  int64
dtypes: float64(1), int16(2), int64(7), int8(43)
memory usage: 1.2 MB

# isolation forest for the df_valid2

In [ ]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
import joblib
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label

In [ ]:
# Assuming your model expects the same feature columns as the original training data
X_new = df_valid2

# Make predictions
y2_pred = model2.predict(X_new)

# Add the predictions back to the dataframe
df_valid2['predicted_price'] = y2_pred

# Show the updated dataframe with predictions
df_valid2.head()

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,AgeOfVehicle,predicted_price
0,1222837,902859,1376,121,3,1000,0.0,-1,19,293,...,2,1,0,-1,-1,-1,-1,-1,1012,32015.0
1,1222839,1048320,36526,121,3,2006,4412.0,2,19,1611,...,2,2,0,-1,-1,-1,-1,-1,6,65160.0
2,1222841,999308,4587,121,3,2000,10127.0,2,19,160,...,2,1,0,-1,-1,-1,-1,-1,12,28342.5
3,1222843,1062425,1954,121,3,1000,4682.0,1,19,686,...,2,1,0,-1,-1,-1,-1,-1,1012,31630.0
4,1222845,1032841,4701,121,3,2002,8150.0,2,18,397,...,-1,-1,-1,-1,-1,-1,2,1,10,39450.0

In [ ]:
import joblib
from sklearn.ensemble import IsolationForest


# Step 1: Load the entire saved model (both Isolation Forest and main model)
model_data2 = joblib.load('/content/3.2.25_final.pkl')

# Access the models by index (not by string key)
model2 = model_data2[0]  # First element in the list (RandomForestRegressor)
isolation_forest = model_data2[1]  # Second element in the list (Isolation Forest model)

# Step 3: Apply Isolation Forest to detect anomalies in new data (new_df)
outliers_new = isolation_forest.predict(df_valid2)

# Step 4: Keep only the normal rows (where prediction is 1)
new_df_clean = df_valid[outliers_new == 1]

# Step 5: Make predictions using the main model (RandomForestRegressor)
y2_pred = model2.predict(new_df_clean)

# Step 6: Optionally, add the predictions to the cleaned dataframe
new_df_clean['y2_pred'] = y2_pred

# Step 7: View the predictions
print(new_df_clean.head())

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Backhoe_Mounting
- Blade_Extension
- Blade_Type
- Blade_Width
- Coupler
- ...

In [ ]:
df_valid2 = df_valid2[X_train.columns]

NameError: name 'X_train' is not defined